[2018-09-14 07:22] sissiautumn opened #3 "Source depth from radial average power spectrum"
**Description of the desired feature**
The Fatiando package provides an example using the Hawaii gravity data and computing the radial average of its power spectrum.
Is it possible to estimate the average source depth according to the radial average of the power spectrum? In fact, there are several papers mentioned this, even the uncertainty is still controversial.
The equation is similar like h=(

[2018-09-14 19:03] leouieda opened #4 "Radial average power spectrum"
**Description of the desired feature**

We need a function to calculate the radial average power spectrum from gridded data. The grid input should probably be an `xarray.DataArray`. It should probably be something like https://github.com/fatiando/fatiando/blob/master/fatiando/gravmag/transform.py#L546

[2018-09-14 19:05] leouieda commented on #3
@sissiautumn thanks for opening the feature request! This will probably require #4 first.

I'll update this when I have the basis for the repository structured and we're ready to start implementing features.

[2018-10-18 04:04] leouieda opened #7 "Normal gravity calculation"
**Description of the desired feature**

The normal gravity calculation should be done using the Li and Goetze (2001) formula that allows computation at any height. It would use the current ellipsoid (`harmonica.get_ellipsoid`) to do the calculations. This is what the function signature should look like:

[code]

Latitude and heights can be any array like object so it's best to do the calculations

[2018-10-18 04:13] leouieda opened #8 "Bouguer correction"
**Description of the desired feature**

Our gravity processing will need the Bouguer correction. The correction aims to remove the effect of masses above the reference ellipsoid (topography) or the mass difference below the ellipsoid (oceans). The function should take two densities, one to apply to the masses at height > 0 (above) and another for masses at height < 0 (below). No contrasts should b

[2018-10-18 04:20] leouieda opened #9 "Sample dataset: Global gravity from ICGEM"
**Description of the desired feature**

A global gravity grid from an ICGEM spherical harmonic model (like EIGEN-6c4) would be great to showcase our gravity processing and any global methods, like tesseroid topographic correction. This should be an `xarray.Dataset` with raw gravity (no corrections), latitude, longitude, and ellipsoid height. To make things easier, gravity should probably be calcul

[2018-10-18 04:24] leouieda opened #10 "Function to read ICGEM data files"
**Description of the desired feature**

The [ICGEM Calculation Service](http://icgem.gfz-potsdam.de/) is an amazing resource to get gravity data. Their grids are in an ASCII format that can be tricky to parse because some values are included in the header. It would be great to have a function that reads the ICGEM file and returns an `xarray.Dataset`.

This will really help with #9

[2018-10-18 04:33] leouieda commented on #10
@santis19 would you mind porting fatiando/fatiando#421 to harmonica? There a few changes that will need to be done:

- [ ] Replace the `asserts` with proper `if ... raise` checks
- [ ] Use `**kwargs` to pass arguments to `numpy.loadtxt` instead of manually specifying `usecols`
- [ ] Return an `xarray.Dataset` instead of a `dict`. You can pass the entire header string as metadata.
- [ ] Probably no

[2018-10-18 17:51] santis19 commented on #10
@leouieda I've just started working on this.
As soon I have a respectable code I'll PR.

I have one question: what about tests functions for this function?
Are you intending to leave tests functions for the future or to only merge PRs with 100% test coverage?

[2018-10-18 17:54] santis19 commented on #10
We need `xarray` to be listed in `environment.yml`.
Do you want me to add it on the PR I'm currently working on?

[2018-10-19 03:54] leouieda commented on #10
Yep, test coverage is a must for merging. Github automatically bars merging if coverage of the diff is less than 80%. Leaving it for later is a recipe for never doing it, as I learned from fatiando.

The fatiando version has some tests that you can use, if I'm not mistaken. But try to see if you can get 100% coverage. It's worth the exercise as you learn a lot about designing good code. For exampl

[2018-10-22 19:00] santis19 commented on #9
@leouieda
I'll be glad to get into this issue.
By the way, I can use this sample dataset to write an example for the `load_icgem_gdf()` function that is currently being written in #11.

We just need to propose a region of the world.
In the past we have used the Alps and Hawaii, maybe some region of the Southern hemisphere would make a more inclusive Fatiando!
We could ask for ideas in gitter if yo

[2018-10-26 21:06] #10 closed

[2018-10-29 20:48] #9 closed, assigned to santisoler

[2018-10-29 21:08] leouieda opened #15 "Airy Isostasy calculations"
**Description of the desired feature**

We need a function that calculates the Moho depth from topography based on an Airy isostatic model. This will be useful for calculating isostatic gravity anomalies, for example.

The function only needs to know the topographic height values and crust, mantle, and water densities (optional):

[code]

If water density is not given, negative topography will be

[2018-10-31 17:07] aguspesce commented on #15
Hi @leouieda
I'm interested in developing this function. This would be my first time, but @santis19  will be helping me to do it.
I have already written something for Airy isostatic model, so I would have to put it in format and  satisfy the harmonica's requirements.
I will start a PR and there we can discuss the Airy code.

[2018-11-04 02:05] leouieda commented on #15
@aguspesce thanks for helping out! It's much appreciated. I'll have a look at your pull request as soon as I can. Welcome to the team!

[2018-11-06 21:30] #7 closed

[2018-11-06 22:49] leouieda opened #20 "Function to transform geodetic to geocentric spherical coordinates"
**Description of the desired feature**

The tesseroid modeling is done in geocentric spherical coordinates (longitude, geocentric latitude, radius) but the data is usually in geodetic coordinates (longitude, geodetic latitude, geometric height). Proj4 apparently only converts the latitudes (https://proj4.org/operations/conversions/geoc.html) but not the height to radius. We need a function that do

[2018-11-07 13:50] santis19 commented on #20
@leouieda
Seems a nice issue to be assigned to me. I would like to take Tesseroids related issues in the future, so this sounds a nice way to start.

[2018-11-07 20:42] leouieda commented on #20
:+1:

[2018-11-09 15:42] santis19 opened #26 "Missing first eccentricity in ReferenceEllipsoid"
**Description of the desired feature**

The `ReferenceEllipsoid` class has two eccentricity attributes: `linear_eccentricity` (distance between the center of the ellipsoid and one of its nodes in meters) and `second_eccentricity`.
For some calculations, i.e. coordinates conversion, the first eccentricity is needed.
The first and second eccentricity are defined as follows:
[code]

Although the firs

[2018-11-09 18:54] #26 closed

[2018-11-16 19:12] #20 closed

[2018-11-28 21:15] #15 closed

[2018-11-29 21:21] leouieda opened #29 "Our topography data should probably be referenced to the geoid"
**Description of the problem**

Currently, our sample topography data based on ETOPO1 was converted to be referenced to the WGS84 ellipsoid by adding a geoid model based on EIGEN-6c4. For some applications, like Bouguer corrections on land, this is best. But Bouguer corrections in the oceans require knowing the geoid to account for the water mass between the ellipsoid and the geoid. This also play

[2018-11-29 21:25] leouieda opened #30 "Interger values in sample grids should be converted to float"
**Description of the desired feature**

The height in our sample gravity and topography are stored as integers to save space. However, this can cause problems in computations involving division. To avoid having to explain this to users or add warnings, we should convert these data types to `float32` in the `fetch_*` functions once they are loaded.

[2018-12-10 22:32] leouieda opened #31 "Add sample station gravity data"
**Description of the desired feature**

We have a global gravity grid from spherical harmonics, which is great to show gravity corrections and global methods. It would be great to have some more local station data to show interpolations, localized inversion, etc.

There are a lot of datasets at https://www.ngdc.noaa.gov/mgg/gravity/

One that I find promising is this South African collection: http

[2018-12-14 04:06] #29 closed

[2018-12-14 04:06] #30 closed

[2018-12-22 00:28] leouieda opened #37 "Pratt isostasy"
**Description of the desired feature**

PRs #17 and #36 added a function to calculate the Moho depth based on an Airy isostasy model. It would be great to have a Pratt isostasy calculation function as well. It would take the topography/bathymetry, respective densities, and a compensation depth and output the lateral density variation. The function should look something like this:

[code]
The body

[2018-12-22 01:52] #8 closed

[2018-12-27 21:49] leouieda opened #39 "General equivalent layer solution"
**Description of the desired feature**

The equivalent layer (EQL) methods are great for interpolation, data integration, upward continuation, etc. Our implementations will be based on the Verde gridding classes. The most basic kind would be an EQL that uses 1/r as the basis function. This can be used with any kind of harmonic function but cannot integrate different fields (grav and gradients) and

[2019-02-18 21:07] leouieda opened #40 "Function to convert geocentric spherical coordinates back to geodetic"
**Description of the desired feature**

In #28 we added the function `geodetic_to_spherical` to convert geodetic coordinates to geocentric spherical coordinates. It would be great to have the inverse transform as well (`spherical_to_geodetic`). The two functions should have similar docstrings/interfaces and include links to each other in their docstrings (using a `See also` section [[example](http

[2019-02-19 18:15] santisoler opened #42 "Bad code styling when converting radians to degrees"
**Description of the problem**

On `geodetic_to_spherical` the `geocentric_latitude` is computed in degrees by converting it by multiplying the factor `180 / numpy.pi`. Would be better to use the `numpy.degrees()` function.

[2019-02-19 22:32] leouieda commented on #42
:+1:

[2019-02-19 22:45] #42 closed

[2019-02-19 22:50] #40 closed

[2019-03-14 19:44] leouieda opened #46 "Tesseroid forward modeling"
**Description of the desired feature**

We need to port the tesseroid modeling method (with constant density) to Harmonica. I'm prone to trying numba again because it's a lot more stable now than it was a few years ago. Plus, this will allow us to expand to variable density tesseroids with more ease than Cython. The user can provide a JIT compiled density function to get fast results, which can't

[2019-03-14 19:57] leouieda commented on #46
Ideally we should separate the discretization algorithms from the forward modeling. They would be a pre-processing step. @santisoler gave the idea of having the algorithms convert the tesseroids into a series of point masses. The GLQ weights can be integrated into the densities. Then we pass the point masses to a spherical point mass modeling code. This way we only maintain 1 set of forward modeli

[2019-03-15 13:11] santisoler opened #47 "Point masses gravity computation on geographic coordinates"
**Description of the desired feature**

The most simple geometry that generates gravitational fields are point masses.
Specially in spherical coordinates (or geodetic), where they represent one of the easier to implement forward models.
They can also be used to grid data through Equivalent Sources algorithms and to build tests for future functions.

Moreover, on #46 we propose to split the Tessero

[2019-03-15 13:13] santisoler commented on #46
One important feature I want this Tesseroid implementation is to work under geodetic coordinates rather than geocentric spherical ones. It's not hard to solve, we just need to convert original geodetic coordinates to spherical ones, perform the forward modelling and then reconvert the computation points to geodetic coordinates.

[2019-03-15 13:17] santisoler commented on #46
Also, we must define how Tesseroids mesher are going to be build.
@leouieda gave the idea to use `xarray` in order to build them. Maybe with a `xr.Dataset` containing the `latitude` and `longitude` coordinates and the `top`, `bottom` and `density` data values, where each `latitude`, `longitude` point represents the center of the Tesseroid (the mesh will be padded by half the horizontal size of eac

[2019-03-15 13:21] santisoler opened #48 "Point masses gravity computation on Cartesian coordinates"
**Description of the desired feature**

The most simple geometry that generates gravitational fields are point masses.
We should make a similar implementation that the one proposed on #47 but for Cartesian coordinates.

**Are you willing to help implement and maintain this feature?** Yes/No

[2019-03-15 13:24] santisoler opened #49 "Prisms forward modelling"
**Description of the desired feature**

One of the most used geometries on three dimensional gravity modelling on projected coordinates are prisms.
Would be nice to port the prisms implementation from Fatiando 0.5 to Harmonica.

**Are you willing to help implement and maintain this feature?** Yes

[2019-03-20 02:40] leouieda opened #51 "Drop support for Python 3.5"
Conda-forge is no longer building 3.5 packages [since October 2018](http://conda-forge.org/docs/user/introduction.html#pinned-announcements). We should probably remove it from our CIs and officially drop support for new releases. This will mean updating:

* `doc/install.rst`
* `setup.py`
* `.travis.yml` and `.appveyor.yml`

[2019-03-21 20:36] #51 closed

[2019-03-24 19:09] michiboo commented on #37
Hi Can I try tackle this issues?

[2019-03-25 20:16] santisoler commented on #46
Would be nice to be able to choose the GLQ degree and not to hard code it.
This could help to research on how lower or higher degrees affect the accuracy and the computation time.

I think the roots and weights for the Legendre polynomials can be computed through the
[Numpy's Legendre Module (numpy.polynomial.legendre)](https://docs.scipy.org/doc/numpy/reference/routines.polynomials.legendre.html)

[2019-03-26 00:42] leouieda commented on #46
Is there a particular reason for this? If we're doing inversion, it's not good for the forward modeling to perform all of these calculations. We have a public function for doing the conversion which is very simple and not much effort to call before passing in the coordinates for modeling. It is done on top of the script once. There is also need to do the inverse transform since we have these value

[2019-03-26 00:43] leouieda commented on #46
This should probably be a separate issue. It will also relate to how we represent prism and point mass meshes.

[2019-03-26 00:46] leouieda commented on #46
I completely agree (as you know :)

Ooooh that's new! OK, that sounds great!

[2019-03-26 11:43] santisoler commented on #46
I didn't thought about the repeated coordinate conversion that would take place if we use this forward modelling on an inversion.
I was thinking more on the user interface rather than computation performance: even tesseroids work on spherical coordinates (and computationally would be better to make inversions on that coordinate system), most data is given in geodetic coordinates. So, for example,

[2019-03-26 11:44] santisoler commented on #46
I agree. We can leave this point to a separated issue too.

[2019-03-26 18:10] leouieda commented on #37
@michiboo of course, go right ahead :+1:

[2019-03-29 14:27] santisoler commented on #46
**Update on arbitrary GLQ degree**

The `numpy.polynomial.legendre.leggauss()` function gets the degree of the quadrature as argument and returns two arrays: the first one contains the non-scaled coordinates of the nodes and the second one contains the corresponding weights.

For example:
[code]
We get the nodes and weights for the second order degree, the ones Fatiando 0.5 uses.

But if we ask fo

[2019-03-29 19:08] leouieda commented on #46
:+1: that's great! The GLQ degrees should definitely be an optional argument to the modeling function

[2019-04-17 18:53] santisoler opened #58 "Ugly docstrings generated by Sphinx"
**Description of the problem**

On the `dev` version of the Harmonica documentation, Sphinx is not compiling the docstrings right.
For example, on [`normal_gravity`](https://www.fatiando.org/harmonica/dev/api/generated/harmonica.normal_gravity.html#harmonica.normal_gravity) docstring the Parameters and Returns mix the variable name with the variable type.

I leave a screenshot of the current `norm

[2019-04-17 19:28] leouieda commented on #58
This is a bug in the `sphinx_rtd_theme` 0.4.3 (rtfd/sphinx_rtd_theme#750). Could you please try setting the version in the `environment.yml` and `requirements-dev.txt` to `=0.4.2` and see is that fixes it?

[2019-04-17 20:44] santisoler commented on #58
@leouieda I changed the `sphinx_rtd_theme` to `0.4.2` and `0.4.1` on `environment.yml` and built the docs locally without any improvement.

I've realized that `sphinx` has released a new `2.0.0` version a few weeks ago.
With the following setup, it works well:
- `sphinx = 1.8.5`
- `sphinx_rtd_theme = 0.4.3`

So I think the problem is with `sphinx` and not with the theme.

[2019-04-17 23:33] leouieda commented on #58
Oh, that's good to know. Would you mind opening a PR to pin sphinx to 1.8.5? We'll need this until there is a fix for all of our projects (verde, rockhound, pooch).

[2019-04-24 00:46] #58 closed

[2019-05-17 00:49] leouieda opened #63 "Remove AppVeyor CI"
**Description of the desired feature**

It's very slow and we don't need it anymore for testing on Windows now that we have Azure working. To disable it, we just need to remove the `.appveyor.yml` file from the repository.

[2019-07-16 20:41] leouieda opened #68 "Page about the coordinate systems"
We need a documentation page describing our coordinate system conventions.

[2019-07-17 14:29] santisoler opened #69 "Unify computation of distances in spherical and Cartesian coordinates"
**Description of the desired feature**

To prevent repeated code, would be nice to have single functions for computing distances between two points in both spherical and Cartesian coordinates. They must be Numba jitted functions to speed things up.

For the spherical coordinates case, the points are given in `longitude`, `latitude` and `radius` coordinates, but several trigonometric functions must

[2019-07-17 15:20] #46 closed

[2019-07-17 15:20] #47 closed

[2019-07-17 17:48] santisoler opened #70 "Numba deprecation of reflected list"
**Description of the problem**

Pytest is currently raising a `NumbaPendingDeprecationWarning` due to a scheduled deprecation of type `reflected list`.
I believe it's raised when a list is passed as argument to a jitted function.

**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: Manjaro XFCE 64bits
* Python installation (An

[2019-07-19 14:57] santisoler opened #73 "Remove "Forward modelling" from tesseroid gallery example"
**Description of the desired feature**

Because all gallery examples that perform forward modelling now live inside `forward`, it's redundant to add "Forward modelling" to the example title. Would be nice to remove it and title it as "Tesseroid" or "Single Tesseroid".

**Are you willing to help implement and maintain this feature?** Yes

[2019-07-19 18:33] santisoler opened #76 "Register pytest use_numba mark"
**Description of the desired feature**

When creating pytest custom marks, they must be registered. Otherwise a `PytestUnknownMarkWarning` is raised in order to catch possible typos.
We must register `use_numba` mark according to instructions in https://docs.pytest.org/en/latest/mark.html.

**Are you willing to help implement and maintain this feature?** Yes

[2019-07-22 12:40] #73 closed

[2019-07-23 12:48] #63 closed

[2019-07-23 12:58] #76 closed

[2019-07-23 13:24] #70 closed

[2019-07-24 17:45] #48 closed

[2019-07-30 14:47] santisoler opened #82 "Add variable density tesseroids forward modelling"
**Description of the desired feature**

Would be nice to implement the forward modelling method to compute the gravitational fields of tesseroids with variable densities described on [Soler et al. (2019)](https://www.doi.org/10.1093/gji/ggz277).

The main thing to do is adding the distance-based discretization algorithm, which should be implemented inside Numba jitted functions without allocating

[2019-07-30 14:57] santisoler opened #83 "Add function to create tesseroid layers"
**Description of the desired feature**

A tesseroid layer could be defined as a collection of tesseroids sorted in a regular way within a region, whose longitudinal and latitudinal boundaries touch each other leaving no empty space in between nor overlapping each other.
Tesseroids layers are very useful for gravity inversion (e.g. Moho inversion). So the function should allow us to modify the top

[2019-07-30 17:45] santisoler opened #84 "Move sanity checks of tesseroids outside jitted functions"
**Description of the desired feature**

Would be better to remove the functions that perform sanity checks of tesseroids outside the jitted functions intended to perform the forward modelling. For any arbitrary set of tesseroids, the current location of these functions is not an issue, but for future tesseroid arrangements like layers (#83) or meshes, these functions can be simplified: instead of

[2019-07-30 18:17] santisoler commented on #84
Also, would be nice that error messages were more explicit now they won't be raised inside a Numba jitted function.

[2019-07-30 18:56] santisoler opened #85 "Add computation of horizontal components of gravitational acceleration"
**Description of the desired feature**

Point mass and tesseroid forward models are currently capable of computing only the potential and the vertical (or radial) component of the gravitational acceleration.
Would be nice to add the ability to compute the horizontal componentes, i.e. the easting and northing ones.

**Are you willing to help implement and maintain this feature?** Yes

[2019-08-07 14:45] #69 closed

[2019-08-07 14:58] santisoler opened #89 "Standarize Cartesian coordinates with z pointing up"
**Description of the desired feature**

After a discussion, @leouieda and I agreed that would be better to standarize the vertical coordinate in Cartesian coordinate system pointing upwards.
The benefits of this decision are:
- Computational heights would be positive values, saving users from converting their height coordinates of observation points to negative values.
- The same goes for structur

[2019-08-07 16:19] santisoler opened #90 "Decorator require_numba does not work as expected"
**Description of the problem**

The `require_numba` decorator for test functions does not work as expected. It decorates the function but the test function itself is not run, so pytest assumes it passed although it has never been run.

This is due to the fact that the function wrapper defined inside `require_numba` does not run the function passed as argument.

[2019-08-07 18:02] #90 closed

[2019-08-14 14:44] #89 closed

[2019-08-15 17:27] #84 closed

[2019-08-19 14:46] santisoler opened #93 "Speed up EQL for high number of data points"
**Description of the desired feature**

Would be nice to improve the harmonic Equivalent Layer gridder in order to speed up its computations when working with a great number of data points.
Firstly, would be nice to make the Jacobian matrix sparse. This could be done by setting to zero those elements that involve distant data and source points.

Further techniques could be related to reducing the

[2019-08-26 12:01] santisoler opened #94 "Enhance EQL gridder to interpolate data in spherical coordinates"
**Description of the desired feature**

Would be nice to improve the EQL Harmonic gridder to be able to interpolate data in spherical coordinates (without the need to project it). This feature would be very useful when gridding potential data on regional or continental scales where the curvature of the Earth must be taken into account. It can be done by modifying the `EQLHarmonic` class, allowing

[2019-09-05 15:25] santisoler opened #95 "Implement the fast iterative EQL interpolator"
**Description of the desired feature**

Would be nice to implement the fast iterative equivalent layer technique described on [Siqueira, Oliveira Jr. and Barbosa (2017)](https://www.pinga-lab.org/papers/paper-fast-iterative-eqlayer-grav-2017.html). It could be a fast alternative to the `EQLHarmonic` gridder from #78 that could be very useful when working with a very high number of data points.

Th

[2019-09-05 15:26] santisoler commented on #95
@birocoles Would you like to tackle this down? And/or maybe get one of your students involved. I can help you implementing this!

[2019-09-05 17:02] birocoles commented on #85
Hi @santisoler ,

I would like to add the other gravity components for point masses. I will start with point masses and learn the new features of Fatiando with you and @leouieda.

[2019-09-06 19:28] santisoler commented on #85
Hi @birocoles. That sounds really nice! I'm glad to help you if you need so!

I agree we should start implementing only the horizontal components for the point masses, and leave the tesseroid case for the future.

I think you could start with the horizontal components of point masses in Cartesian coordinates. I think it's easier to code and test than the spherical coordinate case. Just remember th

[2019-09-06 19:28] santisoler commented on #95
That's great. Don't rush, feel free to start tackling it down whenever you are ready.

[2019-09-09 13:29] santisoler opened #97 "Raise error if masses array has not the same number of elements as points"
**Description of the desired feature**

On the point mass forward model would be nice to check if the `masses` has the same number of elements as the points coordinates inside `points`. On the tesseroid forward model this is done, but for some reason we forgot to add it on the point mass case.

**Are you willing to help implement and maintain this feature?** Yes

[2019-09-16 14:33] santisoler opened #100 "Avoid stacking coordinates on tesseroid forward modelling"
**Description of the desired feature**

As raised by @leouieda on #98 and #86, we should avoid stacking `coordiantes` arrays in order to avoid unnecessary memory allocation. Therefore, `coordinates` must be a tuple of 1d numpy arrays. This issue was already solved on point mass and prisms forward models, but the tesseroids forward model still stacks `coordinates`.

**Are you willing to help implem

[2019-09-16 16:14] santisoler commented on #100
After playing with Numpy arrays I found out that:

- `np.vstack` allocates memory:
[code]
- `np.atleast().ravel()` does not allocate:
[code]
- But when applying `astype()`, we do allocate memory:
[code]

So, even if we decide to drop the `vstack` approach to build the coordinates array, we are still allocating memory when setting the data-type. One way to prevent allocating memory is not to change

[2019-09-19 14:38] leouieda opened #101 "Replace the Rio magnetic data with Great Britain open dataset"
The Rio data is provided by [CPRM](http://geosgb.cprm.gov.br/) but it doesn't really have a license. It would be best if we replaced it with an actually open dataset (with a permissive license).

The British Geological Survey provide a [full aeromagnetic survey](https://www.bgs.ac.uk/products/geophysics/aeromagneticRegional.html) of Britain with a [permissive open license](http://www.nationalarchi

[2019-09-19 15:58] leouieda opened #103 "Gallery example of gravity disturbance calculation (local)"
We have [an example of global gravity disturbance](https://www.fatiando.org/harmonica/dev/gallery/gravity_disturbance.html#sphx-glr-gallery-gravity-disturbance-py) calculation using spherical harmonic data. This is a global grid and is straight forward to calculate the geometric heights using gridded geoid values. It would be great to have a similar example using our land gravity data (#99). For t

[2019-09-20 13:21] #31 closed

[2019-09-20 14:13] #39 closed

[2019-09-25 17:04] #97 closed

[2019-09-26 19:31] #49 closed

[2019-10-01 14:16] leouieda commented on #100
Some of these copies might have to be necessary if changing the input tesseroids array. But ideally we shouldn't be copying memory unnecessarily. I would be best to stop casting altogether and leave that up to the user to avoid needless duplication of memory.

[2019-10-01 16:10] santisoler opened #107 "Avoid casting data type on forward models"
**Description of the desired feature**

The current forward models (prisms, point masses and tesseroids) cast the data type of some (or all) input arrays. The original idea behind it was to avoid working with input arrays full of integers (that could produce wrong results or even Numba errors). Nevertheless, casting the type of the inputs arrays implies copying them, resulting in an unnecessary du

[2019-10-01 16:16] santisoler opened #108 "Add option to avoid sanity checks on forward models"
**Description of the desired feature**

The current forward models for [prisms](https://www.fatiando.org/harmonica/dev/api/generated/harmonica.prism_gravity.html#harmonica.prism_gravity) and [tesseroids](https://www.fatiando.org/harmonica/dev/api/generated/harmonica.tesseroid_gravity.html#harmonica.tesseroid_gravity) perform sanity checks on the input arrays. Most of them involve looping through c

[2019-10-01 16:48] Pralkarz commented on #108
Hello. I would like to work on this issue.

[2019-10-01 17:47] santisoler commented on #108
Hi @Pralkarz! We are very happy with your will to help!
You can start reading the [Contributing Guidelines](https://github.com/fatiando/harmonica/blob/master/CONTRIBUTING.md) and the [Code of Conduct](https://github.com/fatiando/harmonica/blob/master/CODE_OF_CONDUCT.md) before opening the PR.

Feel free to ask for help, we are willing to give you a hand with any trouble you encounter.
Open the PR

[2019-10-02 11:36] nshea3 commented on #101
Hi,

I'd like to help out with this.

I opened up the aeromag csv and threw together a quick scatterplot:

![image](https://user-images.githubusercontent.com/25097799/66040981-09086900-e519-11e9-9326-0c8772780892.png)

Color is MAG_IGRF90 value. I will post a gist later today.

The compressed CSV of the interesting columns is only 4 MB (xz format).

Nick

[2019-10-02 18:02] santisoler commented on #101
Hi @nshea3! We are glad you want to contribute with Harmonica! :clap:

Please, read our [Contributors Guidelines](https://github.com/fatiando/harmonica/blob/master/CONTRIBUTING.md) and our [Code of Conduct](https://github.com/fatiando/harmonica/blob/master/CODE_OF_CONDUCT.md) before you start.
Remember that any contribution to Harmonica (or to any Fatiando a Terra project) should be made as a Pull

[2019-10-03 06:27] nshea3 commented on #101
Thank you! I was just planning to share the code snippet I used to plot the data and perform the coordinate transformation, so nothing that I'm looking to check into the repo.

I will open a pull request shortly and move the discussion over there. I look forward to your feedback!

Nick

[2019-10-10 16:00] #108 closed

[2019-10-11 10:58] leouieda opened #112 "Catch numba errors about mixing int and float in forward modelling"
**Description of the desired feature**

Our forward modelling code (`harmonica/forward/`) uses numba to speed up computations. It can be a bit picky about input data types and doesn't like it when we mix integers and floats. So specifying a tesseroid with `[10, 20, 0, 15, 1000, 1200]` will cause an error from numba about mixing `int64` and `float64`. The actual error message is ugly, intimidating,

[2019-10-11 11:30] #100 closed

[2019-10-11 11:30] #107 closed

[2019-10-11 14:59] ziebam commented on #112
I will pick this issue up if that's okay for you.

[2019-10-11 16:53] ziebam commented on #112
I want to pick this issue up, but I'm not sure what error are we talking about? From what I see no prisms or tesseroids comprised of integers raise any errors, as that would cause some of the tests to fail.

Sorry for the ignorance, but could you please elaborate?

[2019-10-14 15:20] leouieda commented on #112
This is one of those things that seem to happen when the planets align :) But try changing one of the tesseroid tests to use integers. The reason why they are all `10.0 etc` is to avoid this issue.

[2019-11-01 17:56] #101 closed

[2019-11-07 12:16] leouieda opened #122 "Move the ReferenceEllipsoid code to Boule"
In discussions with @MarkWieczorek from [SHTools](https://github.com/SHTOOLS/SHTOOLS/), we found that there is a lot of repeated code between the projects for handling ellipsoids and their parameters. There are also other packages there that might benefit from this code. So it makes sense to split this out of Harmonica and into a dedicated package which we can all use and develop to keep the depen

[2019-11-07 12:32] leouieda opened #123 "Split up the isostasy code into a separate package"
Since I've been rethinking a lot of the Fatiando packages lately, Harmonica is going to escape. If our goal is to be a "gravity and magnetics" package, then isostasy/flexure calculations don't really fit in here. Sure, we use them in conjunction with gravity but actual calculations don't really have any gravity in them.

I propose moving this type of function to a separate isostasy/flexure package

[2019-11-07 14:39] santisoler commented on #123
I think having a package template and releasing with a lot of automation is a great advantage when we want to take this kind of decisions.

Regarding the name, I like having latin names for our packages, specifically for this one that is completely based on the Archimedes principle (who was born in Sicily).
So, I would propose to translate isostasy to a latin language. For example, in Spanish, it

[2019-11-07 15:33] leouieda commented on #123
I like *isostasia*. Reading it in English kind of sounds like [Fantasia](https://en.wikipedia.org/wiki/Fantasia_(1940_film)) which makes for nice pun opportunities.

[2019-11-08 17:53] santisoler opened #124 "Repeated points on sample datasets downloaded from ICGEM"
**Description of the problem**

We currently have three sample datasets that have been downloaded from the [ICGEM Calculation Service](http://icgem.gfz-potsdam.de/calcgrid):
- Earth Topography
- Earth Gravity
- Earth Geoid

Each of these models has been created on a regular grid in a geodetic coordinate system.
On the latitude direction they span between -90 and 90 degrees, while on the longitudin

[2019-11-08 17:58] santisoler opened #125 "Missing attributes on ICGEM datasets"
**Description of the problem**

We currently have three sample datasets that have been downloaded from the [ICGEM Calculation Service](http://icgem.gfz-potsdam.de/calcgrid):
- Earth Topography
- Earth Gravity
- Earth Geoid

Each dataset can be fetched through its own function. Every one of these functions claims to have more details regarding the generation of the grid under the `attrs` attribute

[2019-11-08 19:01] santisoler opened #126 "Wrap all docstrings to 79 characters"
**Description of the desired feature**

After fatiando/verde#177 raised by @prisae, fatiando/contributing#9 and fatiando/contributing#10 it has been decided that all docstrings must be wrapped to 79 characters per line.
We should warp all the existing docstrings in Harmonica to 79 characters and also configure flake8 to check for this when running the style checks.

Sadly, there's no way (yet) to

[2019-11-11 16:31] #126 closed

[2019-11-14 12:50] santisoler opened #128 "Replace numpydoc for napoleon to unpin Sphinx"
**Description of the desired feature**

The combination of latest sphinx (2.2.0), numpydoc, and sphinx_rtd_theme
causes a mangled rendering of the parameter list. We were pinning sphinx
to 1.8.5, which is getting old and causing dependency problems.
See discussion in fatiando/pooch#113.

A possible solution is to replace numpydoc with sphinx.ext.napoleon.
It solves the problem although it generate

[2019-11-18 14:25] santisoler opened #130 "Wrap examples and test docstrings to 79 characters"
**Description of the desired feature**

On #127 we have wrapped all functions docstrings to 79 characters, excluding examples and test functions just because they were out of the scope of the problem raised on #126.
After fatiando/pooch#123 we decided it's better to avoid exceptions and wrap also the docstrings of examples and test functions.
Therefore would be nice to remove the flake8 exceptions

[2019-11-22 16:55] #128 closed

[2019-11-27 11:50] #130 closed

[2019-11-27 11:55] leouieda commented on #125
That's strange. I was sure they included those. All that info is included in the ICGEM header and we load it into `attrs` in `load_icgem_gdf`. So the process should be as simple as downloading new grids from ICGEM, reading them in with `harmonica.load_icgem_gdf`, saving them to netCDF, compressing the netCDF with lzma.

[2019-11-27 13:22] santisoler commented on #125
Ok. I think we should create a single PR for solving this issue and #124, taking into account that we should download the ICGEM grids again.

[2019-11-29 14:36] leouieda commented on #85
After #119, I started thinking about these forward functions. The size of `point_mass_gravity` is getting big and there aren't even any gradient components in there. I'm wondering how useful it is to have Cartesian and spherical in the same function. The point of being in the same function is that kernels can reuse some computations (which we don't do now).

What would you think of separating Cart

[2019-12-10 22:21] nshea3 commented on #125
Hi all,

I'll give these two issues a try (#124 and #125) before I forget how the data fetching module works.
I'll be in touch if I have any questions!

Nick

[2019-12-11 13:34] santisoler commented on #125
Hi @nshea3! Thanks for helping out with these two issues.
Feel free to open a PR whenever you're ready, or anytime you want to share your advances or get any help.
Good luck with this!

[2019-12-12 14:18] santisoler opened #133 "Deprecated attributes argument on check_is_fitted()"
**Description of the problem**

When using an `EQLHarmonic` object to predict some data, `sklearn` is raising a `FutureWarning` because the `attributes` argument on [`sklearn.utils.validation.check_is_fitted`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.validation.check_is_fitted.html) is currently ignored (for `sklearn == 0.22`) and will be deprecated (on `sklearn == 0.23`). T

[2019-12-13 19:32] santisoler opened #135 "3D visualization of prisms and tesseroids"
**Description of the desired feature**

I've been thinking for a long time that would be nice to have a way to produce 3D plots for our prisms and tesseroids. This would help to visualize the forward models, whether they are being manually created or a result from an inversion.

The old Fatiando package used to use Mayavi to produce 3D plots, although in the past years another 3D solutions have ap

[2019-12-13 19:33] santisoler commented on #135
Experimenting with PyVista I managed to plot a synthetiic model made out of prisms, just to get the idea that it can be easily done:
![3d_model](https://user-images.githubusercontent.com/11541317/70826661-3f3e5080-1dc6-11ea-99b1-9169f01b3fb6.png)

[2020-01-09 09:54] #133 closed

[2020-01-15 14:28] leouieda commented on #122
Done in #137

[2020-01-15 14:28] #122 closed

[2020-01-15 14:29] leouieda commented on #123
Gave up on this idea for now because isostasy is tightly coupled with gravity anyway.

[2020-01-15 14:29] #123 closed

[2020-01-15 14:31] leouieda commented on #124
Alternatively, we could keep the datasets as they are and only drop the point when we load them.

[2020-01-16 17:09] leouieda commented on #135
@santisoler PyVista all the way! Could you share the code for making that plot?

[2020-01-16 17:16] leouieda opened #139 "Space domain upward and downward continuation"
**Description of the desired feature**

Just came across the paper [Potential field continuation in spatial domain: A new kernel function and its numerical scheme](https://doi.org/10.1016/j.cageo.2020.104405) by Zhikui Guo (@zguoch) and Chunhui Tao. The method looks really promising and would be a cool thing to have on Harmonica.

The paper has an accompanying C++ implementation that is on GitHub

[2020-01-20 14:01] santisoler commented on #135
No problem! I wrote three files to produce it:

<details>
<summary>plot_prisms.py (script for creating the figure)</summary>

[code]

</details>

<details>
<summary>synthetic_model.py</summary>

[code]

</details>

<details>
 <summary>utils.py</summary>

[code]

</details>

[2020-02-04 15:16] birocoles commented on #85
Hi @leouieda and @santisoler

[2020-02-04 15:23] birocoles commented on #85
Hi @leouieda and @santisoler

Sorry for closing the issue. It was a mistake.

I think separating the Cartesian and spherical stuff for point masses is a good idea. What do you mean by "Repeated checks can be moved to helper functions"? What methods will compose each function?

[2020-02-05 17:43] leouieda commented on #85
Things like checking inputs, broadcasting output arrays, etc, can be moved to a separate function and called from `point_mass_gravity_spherical`, etc.

What do you mean?

[2020-02-05 20:12] birocoles commented on #85
I understood the following:

1) The `point_mass_gravity` in the `point_mass.py` would be moved to a new `.py` file. It contains the repeated checks.
2) There would be a new file called `point_mass_gravity_cartesian.py` containing the `jit_point_mass_cartesian` and all cartesian kernels (e.g., `kernel_potential_cartesian`).
3) There would be a new file called `point_mass_gravity_spherical.py` conta

[2020-02-06 08:53] leouieda commented on #85
No new files are needed. My argument was:

1. Separate the spherical and cartesian computations in different functions
2. Code that is repeated between these 2 functions should go into helper functions instead of being duplicated

[2020-02-06 15:07] birocoles commented on #85
So, there will be a single file `point_mass.py` containing the two functions `point_mass_gravity_cartesian` and `point_mass_gravity_spherical`. Ok?

[2020-02-06 17:39] leouieda commented on #85
That is what I had in mind. @santisoler what do you think about this?

[2020-02-27 17:34] leouieda opened #147 "Add CI builds and setup.py metadata for Python 3.8"
Currently, our CIs only run tests on 3.6 and 3.7. The metadata on `setup.py` also only lists those two. We can certainly run on 3.8 and should add this info to `setup.py` and create builds with 3.8 on both CIs.

[2020-03-02 14:44] #147 closed

[2020-03-04 13:45] prisae commented on #68
I did this recently for empymod. The example (particularly the coordinate-system figure) might be useful to get this issue going:

https://empymod.readthedocs.io/en/stable/examples/coordinate_system.html

[2020-03-04 14:20] santisoler commented on #68
Thanks @prisae for the motivation. We should have tackled this issue long time ago, so this could be a good opportunity to do so.

[2020-03-06 09:27] nholz opened #153 "Flexural Rigidity / Elastic thickness calculation for topographic load"
Hi,
I was wondering if this might be an interesting feature, as harmonica also offers Airy isostatic calculation which is a special case of the flexural rigidity calculation.

Actually, GMT has it already implemented as grdflexure. Input is topographic load, densities of load and mantle and the elastic thickness / flexural rigidity at compensation depth, which controls how the subsurface reacts on

[2020-03-06 11:23] leouieda commented on #153
@nholz that would be great to have! It would probably be best to start with a single rheology to get the interface established and figure out how to test this. Then we can add more on top of that. If you're willing, please submit a pull request for that. No need to wait to have a finished product to open the PR. It's actually nice to open early so you have a place to discuss and ask for help.

[2020-03-06 15:14] #94 closed

[2020-03-06 17:06] santisoler opened #154 "Compute distances in geodetic coordinates"
**Description of the desired feature**

Currently Harmonica has functions to compute distances between points defined in Cartesian coordinates or in spherical geocentric coordinates. Would be nice if we add a function to compute Euclidean distances between points whose coordinates are defined in geodetic (ellipsoidal) coordinates (don't confuse it with great circle distances).
Worth noting that th

[2020-03-11 15:02] santisoler opened #157 "EQL docstrings ask for wrong coordinate systems"
**Description of the problem**

The `EQLHarmonic` and `EQLHarmonicSpherical` classes inherit some methods from `verde.BaseGridder` along with their corresponding docstrings. These methods are meant to be used either with geographic or Cartesian coordinates, although `EQLHarmonic` and `EQLHarmonicSpherical` have well-defined needs of coordinate systems.

The inherited methods that ask for coordinat

[2020-03-11 15:10] santisoler commented on #157
Just a quick though: maybe we could create separate `BaseGridder` classes on `verde` for different coordinate systems (what could help to fatiando/verde#231).

[2020-03-12 08:38] leouieda commented on #157
That's a good point. It might be better to have a `BaseSphericalGridder` or `BaseGeographicGridder` that has a bit more knowledge that things are supposed to be spherical/geodetic. The `EQLHarmonic` should be fine with `BaseGridder` right? Would you mind opening an issue for that in Verde? It will be useful when we implement spherical splines in Verde as well.

[2020-03-12 15:41] leouieda commented on #157
Upon further discussion, we realised that this could be done with a documentation upgrade in the base classes to avoid saying "Cartesian" or "geographic". The default coordinate names could also be gotten from the class itself if it defines a `dims` attribute, which could default to `["northing", "easting"]` in the base class.

[2020-03-12 17:41] santisoler commented on #157
After a discussion with @leouieda, we decided it's better to keep a single `BaseClass` layer, but making its docstrings more general and adding `dims` as a class variable, so we can define them every time we subclass it.

[2020-03-18 01:18] birocoles commented on #85
@leouieda and @santisoler , I will start creating the two functions point_mass_gravity_cartesian and point_mass_gravity_spherical in the file point_mass.py, ok?

[2020-03-18 01:36] birocoles commented on #154
I can help

[2020-03-18 09:40] leouieda commented on #154
That would be great @birocoles!

[2020-03-18 12:35] santisoler commented on #85
Hi @birocoles! For sure, feel free to open a PR whenever you're ready.

[2020-03-18 12:48] santisoler commented on #154
Awesome! I couldn't find any closed-form expression for computing the Euclidean distance between two points defined in geocentric coordinates on the papers mentioned above. What I mean is that for computing the Euclidean distance both papers somewhat convert the coordinates to spherical and then compute the distance. @birocoles, are you aware of a closed-form expression for it?

[2020-03-18 14:33] birocoles commented on #154
The closed form is very ugly. It can be found at [Vajda et al (2004)](https://www.researchgate.net/publication/236024540_On_evaluation_of_Newton_integrals_in_geodetic_coordinates_Exact_formulation_and_spherical_approximation), eq 15.

Apparently, transforming coordinates to Cartesian and then compute the distance is more efficient. But it should be investigated.

[2020-03-18 15:03] santisoler commented on #154
Thanks @birocoles for the reference.

It seems they are just converting to Cartesian (no projecting, Cartesian coordinates with the origin on the center of the Earth) and then replacing the `X`, `Y` and `Z` into the distance expression.

My intuition tells me this:
- Converting from geodetic to spherical and then computing distance should be less efficient that converting to Cartesian (geocentric

[2020-03-18 16:49] santisoler commented on #154
I think the closed-form expression is a little bit more efficient.

**Converting to geocentic Cartesian**
If we want to convert geodetic coordinates to geocentric Cartesian and the compute the distance, we should use the following equations for both `point_1` and `point_2`:
![imagen](https://user-images.githubusercontent.com/11541317/76984362-808e5100-691d-11ea-878f-3d27c3edf267.png)

This means w

[2020-03-19 17:54] birocoles commented on #154
I think we need to implement both formulas and use then not only for comparing the computation times, but also for comparing the results. They must be the same. What do you think?

[2020-03-19 19:09] santisoler commented on #154
That's a very good idea.
So I think we should create a new `distance_geodetic` function that computes the Euclidean distance using the closed-form formula, and some test functions that uses the coordinates conversions to test its results. The code for performing coordinates conversion will be much easier to read, so we can safely use it to test the API function.

[2020-03-19 19:10] santisoler commented on #154
@birocoles Would you like to tackle this (if you have time, obviously)? If not, don't worry, I can start writing the PR and we can continue the discussion over there. Again, no hurries.

[2020-03-19 19:57] birocoles commented on #154
Ok @santisoler , I can tackle this. I will include more functions for converting coordinates in `coordinates.py` and then implement the distance in geodetic coordinates. I will create a first PR for this coordinate conversions.

[2020-03-19 20:00] birocoles commented on #85
I think this issue should be closed. Actually, the horizontal components of gravitational acceleration have already been implemented. I will create another issue for adding second derivatives of gravitational acceleration, ok?

[2020-03-19 20:13] birocoles opened #159 "Convert geocentric geodetic coordinates into geocentric Cartesian coordinates"
Currently, harmonica has functions for converting geocentric geodetic to geocentric spherical coordinates and vice versa. It would be useful to include a functions for converting geocentric geodetic to geocentric Cartesian coordinates. These functions would use the reference ellipsoids defined by `boule`.

[2020-03-19 20:15] birocoles opened #160 "Convert geocentric geodetic coordinates into geocentric Cartesian coordinates"
Currently, harmonica has functions for converting geocentric geodetic to geocentric spherical coordinates and vice versa. It would be useful to include a functions for converting geocentric Cartesian to geocentric geodetic coordinates. These functions would use the reference ellipsoids defined by boule.

[2020-03-19 20:17] santisoler commented on #159
Thanks @birocoles for opening this issue. We have recently moved the coordinate conversions to `boule` (see #137), so this feature should`also live inside `boule` instead of `harmonica`. Would you open a similar one over there?

[2020-03-19 20:24] birocoles commented on #159
Yes!

[2020-03-20 09:29] leouieda commented on #160
@birocoles was this meant for Boule? :laughing:

[2020-03-20 09:31] leouieda commented on #159
Transfered to fatiando/boule#29. Just found out that there is a "Transfer issue" button that will move the issue to the right repository. No need to open a new one.

[2020-03-20 09:31] #159 closed

[2020-03-20 10:01] leouieda commented on #85
Agreed. No need to open an issue, though. Go straight for the PR instead. :+1:

[2020-03-20 10:01] #85 closed

[2020-03-20 12:29] santisoler commented on #159
Great feature for projects with many libraries like Fatiando!

[2020-04-03 12:57] nholz opened #161 "LP / HP filtering of grav mag data"
Hi,
is there a way to filter data in terms of wavelength, so a " classical " low pass / high pass filter ?
Or is this in another package (e.g. harmonica) ? So far, I didn't find any proper implementation or such a feature.

**Are you willing to help implement and maintain this feature?** Yes

[2020-04-03 12:58] nholz commented on #153
Hi,
I would like to implement this. At the moment, I am not able to start this due to the current situation, but will work on that asap.

[2020-04-03 13:13] santisoler commented on #161
Hi @nholz. Thanks for opening this PR. As you might know Harmonica is still in current development stages, so we are still thinking which is the best design to implement features in the frequency domain. Meanwhile we are recommending [`xrft`](https://xrft.readthedocs.io/en/latest/) to perform the FFT and much more.

We hope we can implement features like filtering, upward continuation in frequency

[2020-04-03 13:28] santisoler commented on #161
Hi @nholz. Thanks for opening this Issue. As you might know Harmonica is still in current development stages, so we are still thinking which is the best design to implement features in the frequency domain. Meanwhile we are recommending [`xrft`](https://xrft.readthedocs.io/en/latest/) to perform the FFT and much more.

I don't know what kind of filter you want to apply, but you can find implementa

[2020-04-03 13:36] santisoler opened #162 "Upward continuation in frequency domain"
**Description of the desired feature**

Based on requests made on the Slack group, would be nice to have upward continuation in the frequency domain implemented in Harmonica. The old Fatiando package had some frequency domain features, although it didn't have the best design for them. One possible option is to add [`xrft`]() as a dependency and use it to compute the FFT of the magnetic/gravity gri

[2020-04-03 13:43] santisoler commented on #153
No hurries @nholz. We all are in the same situation and it's better to keep low expectations regarding our productivity. There's no rush to implement this, so feel free to tackle it whenever you feel ready to do so.

[2020-04-03 16:23] leouieda commented on #161
Hi @nholz, as @santisoler said we've been trying to avoid including code in Harmonica that is generally applicable outside of the gravity and magnetics. So regular band-pass filters would be a great addition to `xrft`. It might be worth opening an issue there to ask for it and the ball rolling. Please feel free to link back to this issue as I'd love to be involved in the design and implementation

[2020-04-03 16:34] leouieda commented on #162
I agree. The grid padding part is currently being developed in xarray itself (pydata/xarray#3596). It might be good to keep an eye on the discussion and try out the code on your own use cases to let them know if it fails.

[2020-04-09 12:40] santisoler commented on #157
This has been fixed by fatiando/verde#240

[2020-04-09 12:40] #157 closed

[2020-04-09 12:59] santisoler opened #163 "Add upward argument to EQLHarmonic grid and scatter methods"
**Description of the desired feature**

Would be better to explicitly ask for the upward coordinate when trying to use EQL to predict on grid and scatter points. Currently it must be passed as the keyword argument `extra_coords`, which is not explicitly present in Harmonica documentation.

**Are you willing to help implement and maintain this feature?** Yes

[2020-04-12 07:41] craigmillernz opened #164 "Full gravity corrections for Bouguer Anomaly"
I'm happy to code up the remaining gravity corrections for the Bouguer Anomaly as per Hinze 2005
http://library.seg.org/doi/10.1190/1.1988183

including :
spherical cap correction for Bouguer slab
atmospheric correction
free air correction

Could either just stop at the correction calculation or calculate the anomalies, including free air, simple Bouguer (no terrain correction) anomaly and complet

[2020-04-13 14:39] leouieda commented on #164
Hi @craigmillernz good to see you here :slightly_smiling_face: It would be great to have a more complete pipeline in Harmonica since that is missing from most open-source software for gravity.

The spherical cap and atmospheric corrections would be most useful I think. Would be willing to code those up? For a general layout, have a look at the Bouguer correction function.

The free-air correction

[2020-04-13 15:36] santisoler opened #165 "Create base class for EQL gridders"
**Description of the desired feature**

The current `EQLHarmonic` class is defined as a subclass of the `BaseGridder` from Verde.
This helps us to avoid rewriting code (and tests) and makes easier to maintain.
Nevertheless some methods should be slightly modified for the EQL gridder specific needs.
Verde gridders are currently designed to interpolate 2D data (with the intentions of extend it to n-

[2020-04-13 20:36] craigmillernz commented on #164
Thanks @Leo, will do.  Agreed about only the corrections, and leaving the user to assemble the parts, so they know what has gone in. I'd like to include the free air correction just for completeness, to allow people to use either approach.  I'll include a note to say it's not necessary if the normal gravity is calculated atthe station elevation.  A tutorial would be good to show how to assemble th

[2020-04-13 21:02] craigmillernz commented on #164
Can you please give me permissions to make a pull request?

[2020-04-14 10:12] leouieda commented on #164
I understand the desire for completeness but I also feel strange about implementing something and putting a warning telling people not to use it. Should we still be doing free-air corrections in 2020 when the analytical expression exists?

@santisoler @birocoles any opinions on this?

Go right ahead :slightly_smiling_face: You don't need any special permissions for making PRs. Are you getting an e

[2020-04-14 14:13] santisoler commented on #164
Thanks @craigmillernz for opening this issue. We are glad to get help to take Harmonica to the next level.

I always felt annoyed with the concept of free-air correction. Firstly, I think it's a misleading concept when trying to model Earth's interior (specially when you are starting to learn gravity observations): it's usually misunderstood as "bringing the observed point down to the ellipsoid".

[2020-04-15 00:03] craigmillernz commented on #164
I'm happy to leave the free air out.  But perhaps Boule documentation needs to be explicit that free air isn't needed as the normal gravity is calculated at station elevation, not on ellipsoid.  It certainly had me puzzled the first time I used it (probably my own ignorance), when I was comparing to my own derivation which uses the ellipsoid surface.  I'm not sure many text books are using the ana

[2020-04-15 04:17] craigmillernz commented on #164
I've added an eotvos corrections as well for moving platforms.

[2020-04-15 14:59] santisoler commented on #164
In this example you have two gravity measurements on the same location (longitude, latitude) at different times and with slightly different observation heights, right?
In that case, isn't free-air correction easily replaceable by the analytic normal gravity?
I would process each measurement independently, so the difference on the elevation would be accounted in the normal gravity analytical form.

[2020-04-16 04:46] craigmillernz commented on #164
Alright first pull request made for spherical cap and atmospheric corrections.

I'll need to put some thought into your suggestion to use the normal gravity change in lieu of free air, it's an interesting idea, but i'll need to think if there are any fishhooks.

[2020-04-16 09:34] leouieda commented on #163
Shoot, I forgot what we discussed about this. In the end, was I in favour or against adding this? :slightly_frowning_face:

[2020-04-16 10:08] leouieda commented on #164
Isn't that always the case :slightly_smiling_face:

None of them do. Which is a big problem since almost none of the available software do either. Actually, most people don't even use any "software" for this, just Excel. Since "gravity is easy" there is no need to think about. If only...

That is something to think about. If you find that there really is a use case for a pure free-air correction,

[2020-04-16 13:30] santisoler commented on #163
Haha as far as I remember we agreed to try to create a base class for all EQL classes, where these methods can be redefined to add any specific argument they may need.

I've opened an issue on that (#165) and a WIP PR (#166) to start working on that.

[2020-04-16 13:41] leouieda commented on #163
Right, I saw that right after posting this :facepalm:

[2020-05-07 16:11] santisoler opened #170 "EQLHarmonic.grid raises error when passing pyproj projection and extra_coords"
**Description of the problem**

When trying to grid harmonic data given in Cartesian coordinates through `EQLHarmonic` into a regular grid defined on geodetic, `EQLHarmonic.grid` raises an error due to an extra coordinate being passed as argument to the `pyproj.Proj` instance.

The coordinates generated by the `grid` method are a tuple of `longitude`, `latitude` and `height` (the last one is built

[2020-05-08 13:39] leouieda commented on #170
Ah, this is tricky. One workaround now is to wrap the pyproj function: `lambda lon, lat, h: projection(lon, lat)`. The other way would be to change the `grid` code but then it wouldn't work for a 3D projection function like `WGS84.spherical_to_geodetic` for example.

[2020-05-08 16:57] santisoler commented on #170
Yes... this is tricky. Wrapping the pyproj function won't work because the output of `lambda lon, lat, h: projection(lon, lat)` would be `easting, northing` but we will actually need the height for predicting.
And we definitely should make this compatible both with projections and coordinates conversions.

I don't know if there's a way to automatically check if the passed `projection` needs 2 or 3

[2020-05-08 17:41] leouieda commented on #170
That's a bug in my example. We could do

[code]

But that is tiresome and I wouldn't want to have that be the only option.

Yes there is: https://docs.python.org/3/library/inspect.html#introspecting-callables-with-the-signature-object

Right, so this would require:

* A bug fix in verde to only pass in the first two coordinates to projection
* Adding a new argument and `if` block to use it.

It wo

[2020-06-02 14:50] santisoler opened #171 "Remove default values on EQL gridders"
**Description of the desired feature**

I think it's better to not set default values for any EQL parameter.
The existence of default values for any EQL parameter may lead to unexperienced users to bad interpolations, assuming those values are wisely chosen by the Harmonica developers (which is absolutely false). The best choice for the values for these parameters are case-specific and we should e

[2020-06-03 14:42] leouieda commented on #171
The general idea is to provide users with a order of magnitude for the parameters. We can emphasise that the value needs to be set with a tutorial (linked in the docstring). Like this: https://www.fatiando.org/verde/dev/tutorials/model_selection.html#the-importance-of-tuning

[2020-06-03 14:45] leouieda commented on #171
But it might be good to mention this in the docstring. What the parameter means and why this value is set as default.

[2020-06-09 19:33] santisoler commented on #170
This issue was fixed by fatiando/verde#264.
We should pin Verde to v1.5.0.

[2020-06-16 12:47] nholz commented on #153
Hi,
I would like to start the implementation now. However, I was wondering if it is better to set up everything new or re-use GMT code. It's written in C, but of course it is already developed and tested since decades. Is there any experience from you side what's best to do ?
Cheers

[2020-07-16 15:10] santisoler opened #174 "Documentation is failing due to error in spherical EQL example"
**Description of the problem**

After last changes on `verde.BaseGridder`, the the `projection` argument requires an actual projection function that takes only two coordinates (longitude, latitude). The change was introduced to fix https://github.com/fatiando/verde/issues/263 and #173.
The current gallery example for the spherical EQL is wrongly passing a coordinate conversion function as a projec

[2020-07-16 15:25] santisoler opened #175 "Add EQL gridder in geodetic coordinates"
**Description of the desired feature**

Would be nice to have an equivalent layer gridder that works in geodetic coordinates.
This means that the data points and the location of the point sources should be defined in geodetic coordinates.
The Green's function should still be equal to 1 over the Euclidean distance between each data point and each source.
After #154 is closed, we will be able to eas

[2020-07-17 13:14] santisoler opened #176 "Allow changing data type of EQLs Jacobian elements"
**Description of the desired feature**

We know that fitting an EQL gridder is a process that requires a fair amount of memory, mainly to store the Jacobian matrix.
One small step into reducing the required memory would be to change the data type used to store the Jacobian elements, which are defined as `float64` by default.
Currently, the EQLs offer no option to change that, even though the `jaco

[2020-07-17 18:10] santisoler opened #179 "Remove sample datasets after moved to Rockhound"
**Description of the desired feature**

On the last community call we decided to move all sample datasets in Fatiando to Rockhound.
Harmonica datasets are being moved to Rockhound on https://github.com/fatiando/rockhound/pull/84.
After it is merged, we should remove the harmonica.datasets along with the data folder. Besides, all gallery examples should download their data from Rockhound, therefore

[2020-07-20 14:40] santisoler opened #181 "Remove sample datasets"
**Description of the desired feature**

As decided on one of the last Community Calls, every Fatiando dataset will be available for download through Rockhound.
After https://github.com/fatiando/rockhound/pull/84 is merged, we should remove the `harmonica.datasets` along with the `data` folder. Besides, all gallery examples should download their data from Rockhound, therefore it should be added as

[2020-07-20 18:35] santisoler commented on #125
@nshea3 have you made any advances on this?

I'm thinking we might want to solve this (along with #124) before completely moving the datasets to Rockhound, which won't live inside its repository, but on a Zenodo archive (cc @mtb-za).

Please, @nshea3 don't feel pushed to work on it. Just do it if you have the time. Otherwise, please let me know.

[2020-07-21 15:36] leouieda commented on #125
We should also set the `long_name` and `units` attributes. xarray picks these up and plots them automatically.

[2020-07-21 21:00] nshea3 commented on #125
Hi all! This one slipped my mind during the spring. I have not started on it yet but I have plenty of time to work on it this week. I'll let you know how I progress.

[2020-07-22 15:13] santisoler commented on #181
Repeated issue: #179

[2020-07-22 15:13] #181 closed

[2020-07-22 18:18] #170 closed

[2020-07-22 18:18] #174 closed

[2020-07-28 22:56] nshea3 commented on #125
I believe I made some progress on this one:

Many of those attributes are included in the netcdf files, however they are dropped in the `fetch_` functions in `sample_data.py` with the float64 cast: `data = xr.open_dataset(fname, engine="scipy").astype("float64")`.  When `astype("float64")` is removed the attributes show up in the xarray object. With this change made, all tests pass and the example

[2020-07-29 18:49] santisoler commented on #171
We decided that it's better to leave them for two reasons:
- We want EQL to work without overriding any default parameter. If we remove default values (and replace them by `None`), we would get weird errors if we don't pass valid values to them.
- It's good to have default values for giving users a sense of order of magnitude of that parameters.

Maybe, as an alternative, we could improve these de

[2020-07-29 18:49] #171 closed

[2020-08-18 18:30] santisoler opened #185 "Add example for applying cross-validation with EQLHarmonic"
**Description of the desired feature**

Would be nice to have an example or a documentation page to show how to choose the best set of parameters while gridding gravmag data using `EQLHarmonic`. A good idea would be to start with one of the sample datasets and:

1. calculate gravity disturbance (using Boule),
2. project data into Cartesian coordinates,
3. use `itertools` to create set of parameter

[2020-09-08 14:27] santisoler commented on #185
For anyone wanting a tutorial for gridding gravmag, they can take a look at the notebook I presented at Transform2020: https://github.com/fatiando/transform2020-lightning/tree/master/santi

[2020-09-15 14:06] #154 closed

[2020-09-29 14:23] santisoler opened #192 "Test for locating datasets fails if no sample data has been downloaded yet"
**Description of the problem**

After https://github.com/fatiando/pooch/pull/173, the cache folder is created only when any dataset is downloaded and not when the registry is created. So, when testing Harmonica after a fresh install, the `test_datasets_locate()` fails because the cache folder hasn't been created yet.

A possible solution would be to remove it, and trust Pooch with the path creatio

[2020-10-01 14:40] #192 closed

[2020-10-01 18:34] santisoler commented on #165
We decided that doesn't worth having a base class that will have only one child. Check #190 for how the EQLs are being improved.

[2020-10-01 18:34] #165 closed

[2020-10-03 04:04] andieie commented on #37
Hi! I am attempting to solve this issue. To clarify, the output will be a grid of densities of ocean root and continent root? The input will be the assumed constant root thickness ?  Does fatiando calculate an isostatic residual?
Sorry.. more questions than answers.

[2020-10-05 13:51] santisoler commented on #37
Hi @andieie! I'm glad to have you onboard! I'll try to answer your questions.

Yes, but no necessarily a grid. The returned `density` array should have the same shape as the passed `topography`.
So, if `topography` is a 1d-array with scattered topographic heights, then `density` should also be 1d-array. If `topography` is a regular grid given as a 2d-array, then `density` should also be a 2d-array

[2020-10-20 14:48] #163 closed

[2020-11-04 10:50] shakasaki opened #202 "3D modeling and inversion of the density of a mountain"
**Description of the desired feature**

Hello, I've just come across harmonica and I am still not very familiar with its use, so I wanted to ask whether what I am trying to do is feasible (or can be added as a feature that perhaps I can also support).

Basically, I have a 3D DEM model of a mountain. There is also a tunnel going through this mountain, and I will take gravity measurements along this

[2020-11-05 17:21] santisoler opened #204 "Parallelize forward models"
**Description of the desired feature**

Since #203 I found out that the EQL predictions were using a single CPU, achieving very high and annoying computation times.
After parallelizing the `predict` method, the computation time of the gridding significantly dropped.
I think we should also parallelize the forward models of **points**, **prisms** and **tesseroids** and benchmark them against their n

[2020-11-05 17:46] santisoler commented on #202
Hi @shakasaki! Glad to see that Harmonica is getting more and more attention.

On its current development stage, Harmonica doesn't have any inversion algorithm, although we do have the plan for future implementations of the types of inversions that the old `fatiando` package has. Nevertheless, we are more interested in non-conventional inversion algorithms. There are some very well designed packag

[2020-11-06 10:20] shakasaki commented on #202
Hi @santisoler and thank you for the quick and detailed response!

Great that you pointed out the existing projects. I was aware of pyGIMLi but not SimPEG. And while the former only has 2D gravity modeling, the latter seems to do it also in 3D. I'll definitely check it out!

My intention is to have a forward solver that can handle both topography and also data within the mesh.
That is, I am collec

[2020-12-09 08:10] lperozzi commented on #179
This means that

[code]
will not work anymore right? I tried to fetch it in a environment with the last `prisms-layer` branch installed, but I have the following error:

[code]

[2020-12-20 11:50] JonasLiebsch opened #208 "Adaptive Forward Modelling"
During my bachelor thesis I worked on gravity forward modelling using prisms. Since I focused on a terrain correction, the datasets used are very massive and caused long computation times. To accelerate the modelling, I decided to use an adaptive approach for the forward modelling of a regular spaced grid.
The idea is to use a high resolution only where it is needed.
To achieve that goal the algor

[2021-01-12 14:14] santisoler commented on #179
Sorry for the delay! The notification was buried among others.

Yes, we probably end up ditching the `harmonica.datasets` module, but I don't expect to do that before the next release.

The issue with the South Africa topography raises because that dataset hasn't been merged to `master` yet. That's why you get that error. A quick solution in order to run the tests from data branch is to manually c

[2021-04-07 13:39] #125 closed

[2021-04-07 17:35] #204 closed

[2021-04-08 13:48] santisoler commented on #208
Hi @JonasLiebsch !
Sorry for the huge delay of this response 🙈

This is a very interesting algorithm, and we would love to have some way to reduce the computation time of terrain corrections and prisms layers forward modelling in Harmonica. Since yesterday we have a new function to create prisms layers as `xarray.Dataset`s and an accessor class that enables to compute their gravity fields: https:/

[2021-04-08 13:50] santisoler opened #220 "Release Harmonica v0.2.0"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.2.0                 |
|**Target date**    | 2021/04/09             |
|**Zenodo DOI**     | 10.5281/zenodo.4672400 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-04-12 16:25] #220 closed

[2021-04-13 19:15] santisoler opened #225 "Release v0.2.1"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.2.1                 |
|**Target date**    | 2021/04/14             |
|**Zenodo DOI**     | 10.5281/zenodo.4685960 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-04-15 10:46] #225 closed

[2021-04-18 12:55] lianghcug opened #228 "Error in harmonica.tesseroid_gravity"
**Description of the problem**
When I used the function "harmonica.tesseroid_gravity" to do forward modelling, I found that if the number of tesseroids was 14 (stored in file named "testinput.txt"), it worked well. However, when the number of tesseroids was about 70000 (stored in file named "SCS_Lon100Lon125_Lat0Lat30_Z100Z700_drhoF.txt"), it didn't work, there would be a word "killed" in the term

[2021-04-18 13:28] lianghcug opened #229 "Is it possible to add an extra output of kernel matrix for the forward modelling?"
**Description of the desired feature**

In the latest version of harmonica.0.2.1, the output of the function to do forward modelling ("harmonica.prism_gravity" and "harmonica.tesseroid_gravity") is only the gravitational field. Is it possible to add an extra output of kernel matrix of the forward modelling? If so, we will be able to develop some inversion program based on the kernel matrix.

**Are

[2021-04-19 12:37] santisoler commented on #229
Hi @lianghcug! Thanks for opening this issue.

If I understood correctly, you want the `harmonica.prism_gravity()` and `harmonica.tesseroid_gravity()` functions to return the gravitational field and the kernel matrix `A`, where `A` is the matrix that relates the density of the bodies `m` with the resulting gravitational field `g`: `g = A · m`. Right?

I would say that we are not planning to implem

[2021-04-19 13:09] #229 closed

[2021-04-19 13:31] santisoler opened #231 "Add simple example on DatasetAccessorPrismLayer class"
**Description of the desired feature**

Would be nice to have a simple example on how to use the `DatasetAccessorPrismLayer` class.
The example should use the `prism_layer` function to define a layer of prisms and then use the `prism_layer` accessor to use some of the methods and properties defined in the `DatasetAccessorPrismLayer` class.
It should be very similar to the one in the Example Galler

[2021-04-19 14:40] santisoler opened #232 "Allow the update_top_bottom method of prisms layer to get xarray objects"
**Description of the desired feature**

Currently, the `update_top_bottom` method of the `prism_layer` accessor only works if the `surface` and `reference` arguments are `np.arrays` (or `float`s). This makes that if we want to pass an `xarray` object, we need to extract its `.values` first.
Would be nice if we could just pass an `xarray.DataArray` directly as `surface` and/or `reference`.

**Are y

[2021-04-23 12:56] santisoler opened #233 "Set dims to longitude and latitude in EQLHarmonic if projection is passed"
**Description of the desired feature**

When using `EQLHarmonic` to predict a given field on any set of points through the `grid` and `profile` methods we can optionally pass a `projection` in order to get the resulting object in geographic coordinates. Would be nice if these two methods change the `dims` to `("latitude", "longitude")` if `projection` is not `None` and the `dims` parameter hasn't

[2021-04-23 13:28] santisoler commented on #233
@leouieda should we change this in Verde directly?

[2021-04-29 08:56] leouieda opened #235 "Add common corrections for airborne gravity data"
**Description of the desired feature**

Airborne gravity data usually involves correcting for non-gravitational accelerations. It would be great to have these implemented in Harmonica since they are hard to find in other open-source software.

As a reference and example dataset, we could use this open survey from BAS: https://data.bas.ac.uk/full-record.php?id=GB/NERC/BAS/PDC/01270#contraints

Ther

[2021-05-03 14:01] santisoler commented on #228
Hi @lianghcug ! Sorry for my delayed response.

I just ran your code and it worked without any problem on my computer, also running Linux but with Python 3.8.

This is the image I get as output:
![Figure_1](https://user-images.githubusercontent.com/11541317/116885558-63d6da80-abfe-11eb-9687-a6edb215e60b.png)

Could you open your terminal, activate the environment that you were using to run this co

[2021-07-01 06:11] lianghcug commented on #228
@santisoler Thank you very much. I think my problem must be lie on the memory, because my Linux system is built on a Virtual Machine.

[2021-07-01 16:47] santisoler commented on #228
Although we develop Fatiando with the mind of being able to run scientific code on a laptop, if you handle too many data points or too many tesseroids, you might run out of memory, specially if your computer is on the lower end (<=4GB).

Regarding the virtualization, you can install and run any Fatiando package on any operative system (Linux, Mac OS, Windows), so feel free to try it out on your ma

[2021-07-12 14:11] santisoler commented on #228
@lianghcug I'm closing this because the problem seems to be related to a lack of memory due to the size of the model. Feel free to comment here if you find out anything else causing the problem. Also, feel free to ask any question on our Slack channel: contact.fatiando.org

[2021-07-12 14:11] #228 closed

[2021-07-16 15:46] leouieda commented on #4
No need because xrft does this.

[2021-07-16 15:46] #4 closed

[2021-07-17 07:26] leouieda commented on #233
@santisoler that seems like a decent default. Definitely should be changed in Verde directly.

[2021-07-29 05:00] RichardScottOZ commented on #161
@leouieda  is there now a pythonic, don't need a PhD in geophysics way to approach this?

[2021-07-29 05:02] RichardScottOZ commented on #161
@santisoler   scipy and GMT etc type explanations seem to me to be the esoteric, already need to know how to do it and what you are doing type of thing to start with.

[2021-08-02 13:07] santisoler commented on #3
Since there are several methods of obtaining the source depth from the power spectrum, which are based on different assumptions and hypothesis, I don't think we should give a single complete solution to it in order to avoid its misuse. I'm closing this issue. Feel free to discuss further if you think otherwise.

[2021-08-02 13:07] #3 closed

[2021-08-02 13:08] santisoler commented on #93
This will be solved with the implementation of Gradient Boosted Equivalent Layer. Closing this.

[2021-08-02 13:08] #93 closed

[2021-08-02 13:09] santisoler commented on #135
I don't plan to implement 3D visualization in Harmonica for now. I'm closing this, but we could use this idea in the future if we change our minds about it.

[2021-08-02 13:09] #135 closed

[2021-08-02 13:12] santisoler commented on #202
Closing this issue. Feel free to comment if you have any update.

[2021-08-02 13:12] #202 closed

[2021-08-02 13:16] santisoler commented on #153
Just saw this 🙈 while reviewing every open issue in Harmonica.

We are trying to avoid to include code that needs compilations in Fatiando in order to prevent installation issues on different platforms. If we would need to implement any code that should be efficiently run, we choose to use Numba instead. We are already using it on forward models (tesseroids, prisms, point sources) and for Equivale

[2021-08-05 02:32] laurickegem96 opened #239 "programma pour faire des inversions 3D des données gravimetrique"
salut la famille j'aimerais avoir un programme maléable qui me permetra d'éffectuer des inversion 3D des données gravi. dans cette même optique y aurait un programme pour effectuer la déconvolution d'Euler RDAS. merci d'avance

[2021-08-30 16:22] santisoler commented on #239
Hi @laurickegem96! Thanks for opening this issue.

Sorry I'm writing in English, I don't speak French.
From your first message I understood you are looking for two pieces of software:
1. One for carrying out 3D inversions of gravity,
2. And another one for doing Euler deconvolution.

Regarding the first question, the old `fatiando` package used to have some tools for performing inversions. Neverth

[2021-10-08 08:19] drandykass opened #247 "Missing dependencies in conda package install of harmonica"
**Description of the problem:**

I did a fresh install of harmonica in a clean conda environment, and two dependencies were missing when I ran the examples.  They are
matplotlib
cartopy

**Full code that generated the error**

conda install verde harmonica boule pooch --channel conda-forge

**System information**

* Operating system: Windows 10 Education (20H2 OS build 19042.1237 exp pack 120.2212

[2021-10-08 15:28] drandykass commented on #247
Hej hej,  ok all that makes sense.  What's weird about how I did it, is I installed harmonica and such from the conda repos, but also forked and cloned the git repo (to put a dev envrionment in conda and have just the standard install as well).  I mean, if one is cloning the git repo from whence the examples come, a missing package is trivial.  I think you guys had a comment like you suggested som

[2021-10-08 15:28] #247 closed

[2021-10-18 17:17] santisoler opened #250 "Rename EQLHarmonic and EQLHarmonicSpherical classes into something more meaningful"
**Description of the desired feature:**

I would like to rename the equivalent layer/sources classes to something more meaningful.
Since both classes work with point sources rather an actual layer of mass distribution, I would be more prone to include "equivalent sources" in their name.
On the other hand, I don't think we should specify the "harmonic" nature of the fields these classes generate.
W

[2021-10-18 17:21] santisoler opened #251 "Add option to set sources at constant depth in EQLHarmonicSpherical"
**Description of the desired feature:**

In the same way that #236 adds the option to set Cartesian sources at a constant depth beneath data points, the `EQLHarmonicSpherical` class should be able to do the same.

[2021-10-18 17:23] #179 closed

[2021-10-18 17:30] santisoler opened #252 "Implement gradient-boosted equivalent sources"
**Description of the desired feature:**

Would be great to have gradient-boosted equivalent sources ([Soler and Uieda, 2021](https://doi.org/10.1093/gji/ggab297))implemented in Harmonica.
A preprint of the article is freely available through EartArXiv: https://doi.org/10.31223/X58G7C

As a starting point, I think we should implement only Cartesian gradient-boosted equivalent sources.

In agreement

[2021-10-18 18:43] santisoler opened #254 "Implement block-averaged equivalent sources in EQLHarmonic"
**Description of the desired feature:**

Would be nice to have the option to create block-averaged sources on the `EQLHarmonic` ([Soler and Uieda, 2021](https://doi.org/10.1093/gji/ggab297)).
A preprint of the article is freely available through EartArXiv: https://doi.org/10.31223/X58G7C

The `EQLHarmonic` class should have an additional and optional `block-size` argument that should be used to de

[2021-10-19 16:55] santisoler opened #257 "Refactor CIs by splitting package requirements as needed"
Would be nice to follow the latest scheme for running CIs present in Boule, where there's a global `requierements.txt` file with all needed dependencies by the pacakge, while there's an additional `env` directory that hosts several `requirementes_*.txt` files, each one with the dependencies for running only particular stuff: running tests, bulding docs, etc.

The GitHub Actions should be then upda

[2021-10-19 17:24] santisoler opened #258 "Release v0.3.0"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.3.0                 |
|**Target date**    | 2021/10/120            |
|**Zenodo DOI**     | 10.5281/zenodo.5579324 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-10-20 17:21] santisoler commented on #258
I'm closing this Issue. Harmonica v0.3.0 was released, although we had some issues with conda-forge that will be solved on v0.3.1.

[2021-10-20 17:21] #258 closed

[2021-10-20 17:22] santisoler opened #262 "Release v0.3.1"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.3.1                 |
|**Target date**    | 2021/10/20             |
|**Zenodo DOI**     | 10.5281/zenodo.5585665 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-10-21 13:35] #262 closed

[2021-10-21 13:35] santisoler opened #265 "Release v0.3.2"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.3.2                 |
|**Target date**    | 2021/10/21             |
|**Zenodo DOI**     | 10.5281/zenodo.5589989 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-10-22 12:58] #265 closed, assigned to nobody

[2021-10-22 13:42] dragger21 opened #268 "Add a minimalistic implementation of Euler Deconvolution"
Greetings from Indonesia.

Bringing the Euler Deconvolution back like in previous version (Python 2.7) should be interesting. It can predict/detect the depth of source anomaly in potential field (like gravity and magnetic).

[2021-10-22 15:31] santisoler opened #271 "Release v0.3.3"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.3.3                 |
|**Target date**    | 2021/10/22             |
|**Zenodo DOI**     | 10.5281/zenodo.5593112 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-10-25 13:13] #271 closed, assigned to nobody

[2021-10-30 17:08] dragger21 commented on #268
To @leouieda and @santisoler, I'm sorry for the late reply.

I think that is very interesting to minimise implementation!
Quick question, how are we going to do that without any moving windows? Based on Reid et al. (1990) this work should include moving windows. Do you have any other literature that's pointed out that?

I actually very interested to implement this in your code. I feel very happy t

[2021-11-01 13:35] leouieda commented on #268
@dragger21 no worries, we're all busy and can relate to taking a while to respond 🙂 We'd be glad to have you involved in the development 🎉

The moving window strategy is a way to try to deal with multiple sources (in my opinion, it kind of fails to do so but that is for another discussion). But it's not intrinsic to the method and really not required if you have already isolated the target anomaly

[2021-11-01 13:50] leouieda commented on #268
What I had in mind for the `EulerDeconv` class is something like this:

[code]

This class runs the inversion and stores the estimated source position and base level. It would be used like this:

[code]

[2021-11-11 18:43] santisoler opened #279 "Rename default branch to "main""
We've been pushing this for too long, maybe we should start doing it sooner than later.
GitHub offers a nice interface for renaming the default branch. We should replace `master` for `main` on Actions workflows and in the pooch registry for the datasets.
I'm probably forgetting some places, so I would run a `git grep master` to find them.

[2021-11-12 10:03] leouieda commented on #279
That's a 👍🏽 from me. PRs can be referenced to "main" afterwards.

[2021-11-14 09:20] RichardScottOZ opened #281 "Pseudogravity transformation"
**Description of the desired feature:**

I saw a mention on your google group from april of the pseudogravity transform.

If I understand it correctly, Fourier transform of magnetics, do stuff to it, transform back?

See 'pseudo' et al here.

http://www.cpgg.ufba.br/sato/cursos/geo542/all.f      From Blakely, 95
'Subroutine B.27. Subroutine to transform a total-field anomaly into a pseudogravity a

[2021-11-15 14:10] leouieda commented on #161
xrft is coming along quite nicely and provides a much more intuitive way to do FFTs of xarray objects (it returns actual frequency/wavenumber and correctly ordered dimensions). So this should probably be contributed to that project instead since it's not specific to geophysics.

I would suggest starting with a Gaussian filter, which is much simpler than the Butterworth (not sure if there even is a

[2021-11-15 14:11] leouieda commented on #161
Leaving this open so we can refer to it but will mark it as "wont fix" just to make it easier for us to triage later.

[2021-11-15 14:19] #82 closed

[2021-11-15 21:46] RichardScottOZ commented on #161
Sounds sensible.

Interesting idea - which did some filtering in a project earlier in the year, will check what we did.

[2021-11-15 22:05] RichardScottOZ commented on #161
-- Ok, centre based on what - not sure I get that part?
Thanks!

[2021-11-16 02:50] RichardScottOZ commented on #281
Also will note this https://pubs.er.usgs.gov/publication/tm7C17
Which has software available via anonymous fpt.

[2021-11-16 05:02] RichardScottOZ commented on #281
https://pubs.usgs.gov/of/1995/ofr-95-0077/of-95-77.html - longer list of old stuff - dosbox, anyone?

[2021-11-17 02:37] LL-Geo commented on #281
Since xrft now has pad and unpad functions, I think it might be good to define all the frequency domain filters together. Like the RTP, the Vertical Integral, and derivatives. Then we can call and combine these filters to get what we need.

We might need another function to calculate the IGRF field to make the ambient field works here.

[2021-11-17 02:52] RichardScottOZ commented on #281
Makes sense to me.

[2021-11-17 19:34] santisoler opened #284 "Replace pylint with flake8 plugins"
We've been using `pylint` for a long time to help us improve the quality of our code.
Nevertheless, it's not new that meeting all its requirements is a very demanding task: some of its complains are very useful (unused imports, unused variables, too long functions, etc), but there are a lot more that we usually decide to ignore. The amount of ignored complains is not small: I think we need to add

[2021-11-18 13:04] dragger21 commented on #268
I apologize again for the long reply. Thanks for the insight, Leo & Santiago. I'm trying to seek and simplify the code as soon as possible. I'll notify you later.

[2021-11-19 13:44] leouieda commented on #268
@dragger21 no rush! Please reach out if you need any help

[2021-11-19 14:22] leouieda commented on #284
Maybe this one as well: https://github.com/PyCQA/flake8-bugbear

[2021-11-19 16:35] santisoler commented on #284
After the [2021-11-19 Developer Meeting](https://github.com/fatiando/community/blob/main/development-calls/2021.md#2021-11-19) we decided not to include any flake8 extension that isn't available through conda.
Besides, we decided that `isort` is a good tool to incorporate, although we really don't want to include `flake8-isort`: since `isort` is capable of solving their own issues, a simple `make

[2021-11-19 16:42] #257 closed

[2021-11-20 17:32] elfring opened #286 "Use another augmented assignment statement"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-23 11:16] leouieda commented on #281
If I remember correctly from previous discussions, the idea was to have 2 tiers of functions:

1. The frequency domain filter. This function takes frequency domain input, applies the filter, and returns frequency domain output.
2. Processing function. This function takes space domain input, applies FFT, calls the frequency-domain filter, applies inverse FFT, and returns space-domain output.

Most

[2021-11-23 23:02] RichardScottOZ commented on #281
Yes, I think that makes sense.

Certainly those of us that aren't geophysicists will appreciate the automagic function that takes grid and gives back the new one all finished.

[2021-11-30 13:21] #284 closed

[2021-11-30 15:07] santisoler commented on #252
Fixed by #275

[2021-11-30 15:08] #252 closed

[2021-11-30 18:51] #279 closed

[2021-11-30 18:55] santisoler opened #289 "Release v0.4.0"
|                   |          Info          |
|:------------------|:-----------------------|
|**Version number** | v0.4.0                 |
|**Target date**    | 2021/12/02             |
|**Zenodo DOI**     | 10.5281/zenodo.5745400 |

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `REA

[2021-12-03 15:14] #289 closed

[2021-12-03 15:30] santisoler opened #293 "Add linearity tests for forward models"
**Description of the desired feature:**

Our forward models for the different geometries (points, prisms, tesseroids) allow to take multiple bodies as inputs, returning a single array as the resulting field generated by every one of these bodies on the computation points.
One of the properties of these forward models is their linearity: the resulting field for all the bodies should be equal to the

[2021-12-20 01:02] RichardScottOZ commented on #281
So, could be a holiday tinkering project, too - how would you like to approach?

[2022-01-17 03:49] RichardScottOZ commented on #281
and here etc. https://github.com/fatiando/harmonica/issues/162

so a /filter part or something like that?

[2022-01-17 03:52] RichardScottOZ commented on #281
and this note from said pull request:

Ditch horizontal derivatives
It's better to use xarray.differentiate for computing horizontal
derivatives of a regular grid than using FFT-based derivative.
We should add a tutorial explaining how to compute horizontal
derivatives.

[2022-01-17 03:58] LL-Geo commented on #281
Yep~ I drafted a function for FFT based filter with all these transformations. I'll upload it later today.

[2022-01-17 03:59] RichardScottOZ commented on #281
Great, looking forward to it!

[2022-02-06 12:49] MoSobh opened #300 "Sediments correction in isostatic Moho calculation"
I am using hm.isostasy_airy to estimate the Airy isostatic Moho to compare it with the seismic Moho estimate.
I am wondering if it is possible to consider sediments load in the isostatic calculations
Thanks in advance!

[2022-03-04 14:33] santisoler commented on #300
Hi @MoSobh . Thanks for opening this issue and sorry for the huge delay on my reply.

Currently the `isostasy_airy()` function implements a very simple model of crust + mantle (with water, optionally), so as it is it cannot consider more complex scenarios like sediments load or different densities for the crust.

I'm not entirely happy with how this function works and its interface. I'm sure it ne

[2022-04-23 17:23] santisoler opened #306 "Fully deprecate `datasets` and `synthetic` modules"
Before releasing `v0.6.0` we need to remove the `datasets` and `synthetic` modules that were flagged as future deprecations in #304

🚨**WARNING**🚨

This Issue should be solved **after** we release v0.5.0.

[2022-05-02 17:58] santisoler opened #308 "Fully deprecate `point_mass_gravity` function"
The `point_mass_gravity` function has been marked for deprecation in #280. We would need to remove the function and any remaining function that test it.

:rotating_light: WARNING :rotating_light:
This should be done **after** we release Harmonica v0.5.0.

[2022-05-02 17:59] santisoler commented on #124
Since we are moving every dataset to Ensaio, I'm closing this issue.

[2022-05-02 17:59] #124 closed

[2022-05-06 13:54] aguspesce commented on #308
Hello @santisoler!
I can do it!

[2022-05-06 15:05] santisoler commented on #308
Great! Feel free to open a PR with the changes. There's no need for it to be ready to be merged, you can upload a Draft so we can discuss the changes in there.

[2022-05-20 02:50] mdtanker opened #312 "Adding progress bar to forward gravity calculation of prisms"
**Description of the desired feature:**

During a call to `prism.gravity` (or `prism_layer.gravity`) it would be great to have a progress bar which updates as the calculations advance through the gravity observation points (`coordinates`) .  @LL-Geo suggested the `numba_progress` package, which seems to be a good fit. Looking through `harmonica.forward.prisms.py`, I assume implementing this featur

[2022-05-20 08:19] leouieda commented on #312
@mdtanker thank you for opening this feature request! I wasn't aware of [numba-progress](https://github.com/mortacious/numba-progress) so it's good to know it exists.

My main concern with this is: Does this have an impact on performance? Adding a function call to jit-compiled loop (which usually runs many times) has the potential to slow down the process. It would be good to try this out and meas

[2022-05-20 13:10] mdtanker commented on #312
Thanks for the fast response @leouieda. I've had a go at implementing `numba-progress` and I think I've got it working in at least a minimal way. To do it, I added an argument `progress_proxy` to the function `jit_prism_gravity`,  and then added `progress_proxy.update(1)` within the first for loop, as below:

[code]

To get this to work, I added the arg `progress_proxy` to the functions: `prism_gr

[2022-05-20 16:28] santisoler opened #313 "Remove keyword arguments from equivalent sources grid method"
On #311 we removed the `upward`, `shape`, `spacing` and `region` arguments from the `grid` methods of our equivalent sources interpolators in favor of the new `coordinates` required argument.

Nevertheless the `grid` method stills accepts keyword arguments just to be able to raise warnings and errors in order to warn users of the new behavior.

For Harmonica v0.6.0 we would need to remove those ke

[2022-05-20 16:33] santisoler commented on #286
Hi @elfring ! Sorry for the delayed reply, this Issue got buried and didn't see it in time.

Thanks for the catch! Surely, using `*=` is much better than the line we already have in there. Would you like to open a PR to make that change?

BTW, what tool did you used to catch it? If you find any other place for improvement, please feel free to make those changes as well.

[2022-05-20 16:35] santisoler commented on #233
Closing this issue since this should be solved upstream.

[2022-05-20 16:35] #233 closed

[2022-05-20 16:55] elfring commented on #286
I would find it nice if the possible adjustment for a single assignment statement can be integrated also directly by an other contributor.

Such source code can be searched and replaced also by the means of regular expressions.

[2022-05-20 18:17] santisoler commented on #312
This looks great! Thanks @mdtanker for the idea! 🥇

Actually I was thinking that we don't need to expose the `ProgressBar` to the user, nor ask them to pass a `ProgressBar` instance as argument. Instead we can add a `progressbar` flag to `prism_gravity` (like the one we have in `pooch.retrieve` https://www.fatiando.org/pooch/latest/api/generated/pooch.retrieve.html#pooch.retrieve) and initialize a

[2022-05-20 18:33] santisoler opened #314 "Enforce non-public subpackages as private modules?"
Right now Harmonica has a several subpackages (`forward`, `equivalent_sources`, `visualization`), but only some of them are actually intended to be public.
For instance, it's ok for users to do:

[code]

But not ok for them to do:
[code]

That's why we import the `EquivalentSources` class in the `__init__.py` and encourage users to do:

[code]

Currently, there's nothing enforcing users to not do

[2022-05-23 04:00] LL-Geo commented on #312
Thanks for opening this feature request @mdtanker ! I think if we only pass the progressbar to the outer loop (the observation points), that will have a small impact on the performance.
I agree with @santisoler 's solution 👍. A default progressbar = False will be a good option.

[2022-05-23 05:49] mdtanker commented on #312
Thanks for the suggestions! I have it working and everything seems alright, except if called with `parallel=False` then the progress bar only gives 0% and 100%, with no intermediate progress. Not sure why this is happening, but since `parallel` defaults to `True` then maybe it's no big deal.

Here is an example without the progress bar, which took 1m 28.2s :
[code]
And an example with `progressbar

[2022-05-23 13:58] santisoler commented on #312
Looking awesome! Congrats!

Thanks for noticing it. This is not a good behaviour: any user that keeps waiting for ~1 minute without seeing the progressbar moving will likely stop the computation. The progressbar should work both with parallel set to True or False. But don't worry about it now, we can look into it later. That's just troubleshooting.

Minor suggestion here.
We try to avoid `try: ...

[2022-05-23 17:48] aguspesce commented on #83
Hello @santisoler,
Can I try this?

[2022-05-23 18:15] santisoler commented on #83
Sure! Be my guest! Take a look at what we did for the prism layer. The tesseroid layer should be analogous to that one but defined in spherical coordinates.

The only corner case I can think of right now is that for tessseroids we would need to check if the longitude coordinates don't exceed a full turn around the globe and create overlapping tesseroids. Because the longitude coordinates will corr

[2022-05-23 20:48] mdtanker commented on #312
Good catch, I've added the `ImportError` and will try and open a PR soon. Thanks!

[2022-05-31 19:00] #286 closed, assigned to nobody

[2022-06-03 14:17] #68 closed

[2022-06-03 15:32] #231 closed

[2022-06-03 15:36] santisoler opened #317 "Replace cartopy with pygmt in docs"
**Description of the suggestion:**

Would be great if the maps in the User Guide are done through PyGMT instead of Cartopy.
To do so we need to change how the maps are done and include `pygmt` and `gmt` as dependencies both in `environment.yml` and in `envs/requirements-docs.txt`.

[2022-06-03 15:39] santisoler opened #318 "Add a user guide page for grid transformations and fft filters"
**Description of the suggestion:**

After #238 we would need to add a new page to the user guide that covers grid transformations, and optionally another one that covers how we could use the frequency domain filters independently.

Before tackling this issue, I would upload a sample grid of gravity or magnetic data to Ensaio so we can use it in the docs (instead of having to generate one in the sa

[2022-06-03 19:24] Esteban82 opened #320 "Issue on page /user_guide/coordinate_systems.html"
I wonder if ti would be good idea to add a table comparing the properties of the 3 coordinates systems like.

Some of the properties could be names of the axis, its value, origin of the system, typical uses of the system (within Harmonica/Fatiando?).

[2022-06-04 20:26] Esteban82 commented on #320
Maybe something like this: in rst format (I think)

+------------+----------------------+---------------------------+------------------------+
| Axis       | Cartesianas (planas) | Geodeticas / geographical | Spherical (geocentric) |
+---+--------+----------------------+---------------------------+------------------------+
| 1 | Name   |        easting       |                      longitude

[2022-06-07 05:28] mdtanker opened #322 "3D gravity inversion of prism layers"
**Description of the desired feature:**

I'm working on a 3D gravity inversion for my Ph.D. to model the bathymetry beneath a float ice shelf. I'm using a vertical-prisms approach, and I'm mostly interested in a geometry inversion, where each prism's density remains unchanged, but the prisms' tops or bottoms are updated to minimize the observed gravity - forward gravity misfit. While this inversio

[2022-06-09 03:31] mdtanker commented on #317
I'm happy to do this! Let me know and I'll start working on it.

[2022-06-09 18:36] santisoler commented on #317
That would be awesome @mdtanker ! Feel free to start whenever you want. I'll assign you to this issue so anyone else interested knows that you're working on it.

[2022-06-09 21:58] mdtanker commented on #317
Okay great, I'll start converting them. I've just finished converting the 6 `User Guide - Sample Data` examples, and will start working on the `Gallery` examples.

[2022-06-16 20:24] #312 closed

[2022-06-22 09:25] LL-Geo commented on #322
Just find this paper, that might give an idea of how to include different density contrast (maybe different geology) into the inversion. Haas et al 2020. https://academic.oup.com/gji/article/221/3/1896/5808816?login=true

[2022-06-27 14:54] #300 closed

[2022-07-07 22:31] mdtanker commented on #185
I was looking through the issues and noticed that this is still open, should it be closed with #305 and the following user guide https://www.fatiando.org/harmonica/dev/user_guide/equivalent_sources/eqs-parameters-estimation.html?

[2022-07-15 17:20] santisoler commented on #185
Nice catch! Yes, we should close this now! Thanks @mdtanker!

[2022-07-15 17:20] #185 closed

[2022-08-12 20:37] santisoler opened #335 "Release v0.5.0"
**Zenodo DOI:** 10.5281/zenodo.6987201

**Target date:** 2022/08/12

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `README.md` file)
- [x] Create a "New version" of it.
- [x] Delete all existing files
- [x] Copy the reserved DOI to this issue
- [x] Update release date
- [x] Update vers

[2022-08-15 04:18] craigmillernz commented on #322
This would be very useful feature.  There is some overlap with SimPEG here. Perhaps SimPEG inversion engine could be used and linked to Harmonica for forward model with prisms.  I think @santisoler is looking at this in SimPEG at the moment to rework SimPEG gravity forward modeling.  It would save reinventing a lot of inverse code that is already well used and supported.

VPMG commercial code that

[2022-08-15 10:16] leouieda commented on #335
Made the needed updates to the conda-forge recipe and merged the PR. Closing this now 🚀

[2022-08-15 10:16] #335 closed

[2022-08-15 21:08] santisoler commented on #322
Hi @craigmillernz. Thanks for joining the conversation. I agree that we should make efforts to avoid overlaps with SimPEG. And you're right, I'm working on building some common ground for prism forward modelling between SimPEG and Harmonica. I'm looking forward to getting more awesome results.

Nevertheless, I like the way that a geometry inversion could be built on top of Harmonica. SimPEG is mai

[2022-08-16 22:04] mdtanker commented on #322
Thanks for pointing that out @LL-Geo, I'll look through it.

[2022-08-16 23:48] mdtanker commented on #322
Santi I like your idea of having a few specific inversions for common tasks, but it might end up with be a lot of duplicated code. What do you think are the benefits over having a generic `invert_prism_geometry` function, with specific gallery examples for applying it to common use cases?

[2022-08-17 05:12] craigmillernz commented on #322
I tend to agree with Matt that a more generic function with use cases might be better.  I was really just wondering how easy it would be to couple the prisms discretization onto the simpeg inversion framework,  You'll know best about that! If they aren't really compatible, then a separate inversion within Harmonica would be appropriate.

[2022-08-17 05:20] craigmillernz commented on #322
Matt you might find this useful for general inversion theory - from UBC. This used to be a standalone website, but it looks like you now have to download. Follow the instructions on the page.
https://gif.eos.ubc.ca/IAG

[2022-08-18 22:39] santisoler opened #340 "Deprecate EQLHarmonic and EQLHarmonicSpherical"
In #255 we renamed the `EQLHarmonic` and `EQLHarmonicSpherical` classes and marked the old ones for future deprecation. We should have done so before v0.5, but it's no a big deal, we can do it now then. I will add this Issue to the `v0.6` milestone so we don't forget to solve it before the next release.

**To Do**

Remove the `EQLHarmonic` and `EQLHarmonicSpherical` classes code, remove any refere

[2022-08-23 22:57] santisoler opened #343 "Release v0.5.1"
**Zenodo DOI:** 10.5281/zenodo.7026294

**Target date:** 2022/08/26

## Draft a Zenodo archive (to be done by a manager on Zenodo)

- [x] Go to the Zenodo entry for this project (find the link to the latest Zenodo release on the `README.md` file)
- [x] Create a "New version" of it.
- [x] Delete all existing files
- [x] Copy the reserved DOI to this issue
- [x] Update release date
- [x] Update vers

[2022-08-25 20:29] aguspesce opened #344 "Error in the test_prims_layer"
I'm making the tesseroid_layer test and reading the test_prims_leyer.
So, I think that I noted an error when check if a layer of prisms is property constructed in line 96.
The original line is:
[code]
But I think that it should be:
[code]

@santisoler... am I right?

[2022-08-26 18:08] santisoler commented on #344
Thanks for opening this issue @aguspesce.

For the record, you are talking about this line:
https://github.com/fatiando/harmonica/blob/d7c43540199a787246557afb8a20e071569c0f48/harmonica/tests/test_prism_layer.py#L96

The `reference` variable is defined in line 82:
https://github.com/fatiando/harmonica/blob/d7c43540199a787246557afb8a20e071569c0f48/harmonica/tests/test_prism_layer.py#L82

And the `d

[2022-08-26 18:56] santisoler opened #346 "Use pymap3d functions for coordinate conversions"
Since Boule v0.5.0 the methods to perform coordinate conversions are marked as future deprecations. Instead we should be using `pymap3d` functions. We would need to update Harmonica docs before they break.

The things that are needed to be done are:
- add `pymap3d` as a requirement for building the docs (see `env/requirements-docs.txt` and `environment.yml`)
- update every example that makes use o

[2022-09-09 16:15] #343 closed

[2022-09-09 17:13] #317 closed

[2022-09-28 22:15] #83 closed

[2022-09-28 22:17] santisoler opened #352 "Include an example on how to use tesseroid layers in the User Guide"
After #316 was merged we now can define tesseroid layers. The docs also include a gallery example that makes use of the new feature. Would be nice to have a section in the User Guide, similar to the one we have for the prism layer: https://www.fatiando.org/harmonica/latest/user_guide/forward_modelling/prism.html#prism-layer

[2022-09-28 22:18] santisoler opened #353 "Include a terrain correction in spherical coordinates in the User Guide"
After #316 was merged we now can define tesseroid layers. Would be nice to include an example to the User Guide on how we can use the tesseroid layers to perform terrain corrections on spherical coordinates, similar to the one we already have for Cartesian coordinates: https://www.fatiando.org/harmonica/latest/user_guide/topographic_correction.html

[2022-09-28 22:20] santisoler commented on #346
In the Fatiando Dev Meeting of 2022-09-28 we decided to restore the coordinate conversions methods in Boule wrapping the `pymap3d` functions. So I'm closing this issue since we won't need to apply this change in Harmonica.

[2022-09-28 22:20] #346 closed

[2022-10-25 21:02] santisoler opened #355 "Drop support for Python 3.7"
[Xarray have dropped support for Python 3.7](https://github.com/pydata/xarray/issues/6138) and ~we are now experiencing some test failures on Python 3.7 because of it (see https://github.com/fatiando/harmonica/actions/runs/3323457986/jobs/5493825021)~. I think we should move on and drop support for Python 3.7 on Harmonica.

@leouieda any thoughts? What's the status on Verde?

[2022-10-26 13:53] leouieda commented on #355
Verde just dropped 3.6 for the upcoming 1.8 release. 3.7 works fine for us but maybe it's because of the way we started doing the CI tests. With fatiando/community#40 we can define the earliest supported version of dependencies and on CI I've been making it so we only test the end members. So Python 3.7 with the oldest versions of dependencies and Python 3.10 with the latest versions of dependenci

[2022-11-02 23:54] santisoler commented on #355
For the record: the test failures were fixed in #356 so we are not having any problem with still supporting Python 3.6. And as discussed in the [Fatiando Dev Call of 2022-10-26](https://github.com/fatiando/community/blob/main/development-calls/2022.md#2022-10-26) we agreed that there's no specific reason to do this right now. I'm pushing this for `v0.7.0`.

[2022-11-21 15:20] prince-Ha opened #360 "about : isostatic_moho_airy"
**Description of the problem:**

Hi , I run the code below the link

link : https://www.fatiando.org/harmonica/latest/gallery/isostatic_moho_airy.html#sphx-glr-gallery-isostatic-moho-airy-py

there are problem

please check about it

thanks

**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system:
* Python installation (Anaconda, s

[2022-11-21 16:31] LL-Geo commented on #360
Hi~ Could you check which version of harmonica you are using? Please note, the isostatic_moho_airy is a new function from version 0.5. You might need to update harmonica if you use the old version.

[2022-11-23 03:13] prince-Ha commented on #360
I'm embarrassed to ask you something easy The program works fine. Thank you.

[2022-11-23 03:36] LL-Geo commented on #360
Haha, no worries! Glad that works. Please don't feel embarrassed, we all come from that stage 😄

As the code works, I will close this issue.

Happy modeling!

[2022-11-23 03:36] #360 closed

[2022-11-23 13:58] prince-Ha opened #361 "about : processing and gridding gravity data with fatiando a terra"
**Page that contains the error or needs to be improved (paste link):**
Hello, I know you are very busy, but I am asking you this question because I need your help. After watching the video on YouTube, I am processing the gravitational data with the patiando tutorial.

1 . there are many differences between simple Bouguer and complete Bouguer animation, so I ask you what the problem is.

2. run Reg

[2022-11-23 18:32] santisoler commented on #361
Hi @prince-Ha! Opening this issue is not rude at all. The idea of allowing users to open issues or discussions in our forum is to encourage the conversation within the community. Your questions and inputs are very welcomed 🙂.

**Answer to point 1**

After reading your notebook I noticed that your free-air anomaly data doesn't include the observation height. This height is as important as the obser

[2022-11-23 18:33] santisoler commented on #361
Since these questions are not bug reports or raise particular improvements to Harmonica I'll convert this issue into a Discussion in our forum. @prince-Ha you will be able to still comment here. Let us know if you experience any problem after the move.

[2022-11-24 22:46] santisoler commented on #313
I'm closing this issue since we are going to redesign the EquivalentSources classes so they don't rely on Verde's BaseGridder class. One of the decisions we have to make on this redesign is if we would like to recover the grid generation parameters in the `grid` method.

[2022-11-24 22:46] #313 closed

[2022-11-24 22:47] santisoler commented on #340
@aguspesce would you like to tackle this issue?

[2022-11-24 22:47] santisoler commented on #306
@aguspesce would you like to tackle this issue?

[2022-11-25 12:48] Esh15 opened #364 "Generating a synthetic model"
Hi, how do I generate a synthetic model? I noticed that fatiando is not recognised on python 3.

[2022-11-25 17:26] aguspesce commented on #340
@santisoler I can do it!

[2022-11-25 18:07] santisoler commented on #364
Hi @Esh15! Thanks for opening this issue.

You're right, the old `fatiando` Python 2.7 package has been deprecated. We have moved to a new set of tools instead, like Harmonica.

In Harmonica we have functions to forward model the gravity fields of point sources, prisms and tesseroids. You build your synthetic model using these geometries and using these functions to compute their fields. Is this y

[2022-11-25 19:42] santisoler opened #365 "Add projection information to DataArrays read from GRD files"
**Description of the desired feature:**

Right before merging #348 @mdtanker noticed that the `load_oasis_grd()` function doesn't preserve information about the grid projection. Even though the file header has a few bytes reserved for storing reference to map projection, this bytes seem to be always equal to zero. Nevertheless, the projection information is available in the `.xml` files that accom

[2022-11-26 00:52] markjessell commented on #365
It may be worth pointing out that the *.xml is an optional part of the geosoft system, montaj reads the projection info from the *.gi file, not the *.xml file. This doesn't matter for import, but if anyone wants to make an exporter to *.grd format then this will be an issue. In any case, for import, the xml reader would be very handy when that file is available, but we shouldn't assume it will alw

[2022-11-30 18:07] santisoler commented on #365
Thanks @markjessell for your input. As you mentioned, the .gi format is not available and the .xml file is the easiest way to get information about the projection. I totally agree that the .xml file should be optional: the function should work as it currently does even if the .xml file doesn't exist.

Since we are not planning on making a writer to GRD files, not having the .gi format is not a dea